<div class="c-sidebar-brand">
  <img
    class="c-sidebar-brand-full"
    width="100"
    src="assets/brand/logo.svg"
    alt="Open Web Logo"
  />
  <img
    class="c-sidebar-brand-minimized"
    width="46"
    src="assets/brand/logo.svg"
    alt="Open Web Logo"
  />
</div>
<ul class="c-sidebar-nav">
  <li
    class="c-sidebar-nav-item"
    type="button"
    [class.active]="router.isActive(employeesUrl, false)"
  >
    <a class="c-sidebar-nav-link" (click)="navigateToGeneralListPage()">
      <i class="c-sidebar-nav-icon cil-info"></i>
      {{ 'SIDEBAR.LINK_1' | translate }}
    </a>
  </li>
  <li
    class="c-sidebar-nav-item"
    type="button"
    [class.active]="router.isActive(devicesUrl, true)"
  >
    <a class="c-sidebar-nav-link" (click)="navigateToDevicePage()">
      <i class="c-sidebar-nav-icon cil-devices"></i>
      {{ 'SIDEBAR.LINK_4' | translate }}
    </a>
  </li>
  <li
    class="c-sidebar-nav-item"
    type="button"
    *ngIf="deviceHistoryIsSelected"
    [class.active]="router.isActive(deviceHistoryUrl, true)"
  >
    <a class="c-sidebar-nav-link" (click)="navigateToDeviceHistory()">
      <i class="c-sidebar-nav-icon cil-speedometer"></i>
      {{ 'SIDEBAR.LINK_5' | translate }}
    </a>
  </li>
  <li
    class="c-sidebar-nav-item"
    type="button"
    [class.active]="router.isActive(deviceCategoriesUrl, true)"
  >
    <a class="c-sidebar-nav-link" (click)="navigateToDeviceCategoriesPage()">
      <i class="c-sidebar-nav-icon cib-azure-artifacts"></i>
      {{ 'SIDEBAR.LINK_7' | translate }}
    </a>
  </li>
  <li
    class="c-sidebar-nav-item"
    type="button"
    [class.active]="router.isActive(dayOffUrl, true)"
  >
    <a class="c-sidebar-nav-link" (click)="navigateToDayoffPage()">
      <i class="c-sidebar-nav-icon cil-home"></i>
      {{ 'SIDEBAR.LINK_2' | translate }}
    </a>
  </li>
  <li
    class="c-sidebar-nav-item"
    type="button"
    [class.active]="router.isActive(dayOffCategoriesUrl, true)"
  >
    <a class="c-sidebar-nav-link" (click)="navigateToDayOffCategoriesPage()">
      <i class="c-sidebar-nav-icon cib-libreoffice"></i>
      {{ 'SIDEBAR.LINK_6' | translate }}
    </a>
  </li>
  <li
    class="c-sidebar-nav-item"
    type="button"
    [class.active]="router.isActive(dayOffRequestUrl, true)"
  >
  <a class="c-sidebar-nav-link" (click)="navigateToDayOffRequestPage()">
    <i class="c-sidebar-nav-icon cil-storage"></i>
    {{ 'SIDEBAR.LINK_8' | translate }}
  </a>
</li>
  <li class="c-sidebar-nav-divider"></li>
</ul>
<button
  class="c-sidebar-minimizer"
  type="button"
  (click)="onMinimized()"
></button>
