.c-sidebar-nav {
  .active {
    background: #1a01f9;
    a {
      i {
        color: white;
      }
      color: white;
    }
  }
  a.c-sidebar-nav-link {
    &:hover {
      background: #39f !important;
      color: white;
    }
  }
}
