<div class="card">
  <div class="card-body">
    <div class="row mb-2">
      <div class="col-7">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i class="cil-search"></i>
            </div>
          </div>
          <input
            type="search"
            class="form-control"
            [formControl]="searchInput"
            id="inlineFormInputGroupUsername"
            placeholder="VD: Nguyen, 2020, ..."
          />
        </div>
      </div>
      <div class="col-5">
        <div class="form-group">
          <label class="d-inline-block mr-3 ml-2" for="day-off-type">
            {{ "DAY_OFF_TABLE.TYPE_OF_LEAVE" | translate }}
          </label>
          <select
            class="form-control d-inline-block"
            style="width: auto"
            id="day-off-type"
          >
            <option>{{ "DAY_OFF_TABLE.ANNUAL_LEAVE" | translate }}</option>
            <option>{{ "DAY_OFF_TABLE.SICK_LEAVE" | translate }}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="table-responsive" *ngIf="data$ | async as data">
      <table class="table table-bordered">
        <thead *ngIf="data.pagination.totalCount !== 0">
          <tr>
            <th scope="col" style="width: 5%">ID</th>
            <th
              scope="col"
              style="width: 20%; cursor: pointer"
              (click)="onSort(data.pagination.currentPage, 'name')"
            >
              {{ "DAY_OFF_TABLE.NAME" | translate }}
              <i class="cil-arrow-top" *ngIf="sortNameType === 1"></i>
              <i class="cil-arrow-bottom" *ngIf="sortNameType === 2"></i>
            </th>
            <th
              scope="col"
              style="width: 15%; cursor: pointer"
              (click)="onSort(data.pagination.currentPage)"
            >
              {{ "DAY_OFF_TABLE.BIRTHDAY" | translate }}
              <i class="cil-arrow-top" *ngIf="sortBirthDateType === 1"></i>
              <i class="cil-arrow-bottom" *ngIf="sortBirthDateType === 2"></i>
            </th>
            <th scope="col" style="width: 20%">
              {{ "DAY_OFF_TABLE.TOTAL_LEAVES" | translate }}
            </th>
            <th scope="col" style="width: 20%">
              {{ "DAY_OFF_TABLE.NUMBER_OF_LEAVES_REMAINING" | translate }}
            </th>
            <th scope="col" style="width: 20%">
              {{ "DAY_OFF_TABLE.ACTION" | translate }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of data.data; let i = index">
            <th scope="row">
              {{ i + 1 + (data.pagination.currentPage - 1) * 20 }}
            </th>
            <td>{{ item.firstName + " " + item.lastName }}</td>
            <td>{{ item.birthdate | date: "dd/MM/yyyy" }}</td>
            <td>15</td>
            <td>15</td>
            <td>
              <div class="d-flex justify-content-center">
                <button
                  type="button"
                  class="btn btn-info"
                  data-toggle="modal"
                  (click)="currentId = item.id"
                  data-target="#subTimeOff"
                >
                  <span class="cil-playlist-add btn-icon mr-2"></span>
                  {{ "DAY_OFF_TABLE.CREATE_DAY_OFF_REQUEST" | translate }}
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div
        *ngIf="data.pagination.totalCount === 0"
        class="alert alert-secondary"
        role="alert"
      >
        {{ "GENERAL_LIST.NO_RESULT" | translate }}
      </div>
      <div class="col-12" *ngIf="data.pagination.totalCount !== 0">
        <pagination
          [totalItems]="data.pagination.totalCount"
          [maxSize]="3"
          [itemsPerPage]="20"
          [(ngModel)]="currentPage"
          (pageChanged)="onPageChanged($event.page)"
          class="pagination-md justify-content-end"
          previousText="&lsaquo;"
          nextText="&rsaquo;"
          firstText="&laquo;"
          lastText="&raquo;"
          [boundaryLinks]="true"
          [rotate]="true"
        >
        </pagination>
      </div>
    </div>
  </div>
  <button
    type="button"
    class="btn btn-info"
    data-toggle="modal"
    data-target="#subTimeOff"
  >
    <span class="cil-playlist-add btn-icon mr-2"></span>
    {{ "DAY_OFF_TABLE.CREATE_DAY_OFF_REQUEST" | translate }}
  </button>
  <div
    id="subTimeOff"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true"
  >
    <ah-request-day-off [currentId]="currentId"></ah-request-day-off>
  </div>
</div>
