.table {
  .col-name,
  .col-birthday {
    width: 25%;
    cursor: pointer;
  }

  .col-leaves {
    width: 20%;
  }

  .col-action {
    width: 10%;
  }
  .align-middle {
    .link-a {
      cursor: pointer;
      color: #321fdb;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
