<div class="card">
  <div class="card-body" *ngIf="types$ | async as types">
    <div class="row mb-2">
      <div class="col-7">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i class="cil-search"></i>
            </div>
          </div>
          <input
            type="search"
            class="form-control"
            [formControl]="searchInput"
            id="inlineFormInputGroupUsername"
            placeholder="{{ 'GENERAL_LIST.PLACEHOLDER' | translate }}"
            (blur)="onSearchSubmit()"
            (search)="onSearchSubmit()"
          />
        </div>
      </div>
      <div class="col-5">
        <div class="form-group">
          <label class="d-inline-block mr-3 ml-2" for="day-off-type">
            {{ 'DAY_OFF_TABLE.TYPE_OF_LEAVE' | translate }}
          </label>
          <select
            [formControl]="selectedType"
            class="form-control d-inline-block"
            style="width: auto"
            id="day-off-type"
          >
            <option *ngFor="let item of types" [value]="item.name">
              {{ item.name | titlecase }}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="table-responsive" *ngIf="data$ | async as data">
      <table class="table table-bordered">
        <thead *ngIf="data.pagination.totalCount !== 0">
          <tr>
            <th
              scope="col"
              class="col-name"
              (click)="onSort(data.pagination.currentPage, 'name')"
            >
              {{ 'GENERAL_LIST.NAME' | translate }}
              <i class="cil-arrow-top" *ngIf="sortNameType === 1"></i>
              <i class="cil-arrow-bottom" *ngIf="sortNameType === 2"></i>
            </th>
            <th
              scope="col"
              class="col-birthday"
              (click)="onSort(data.pagination.currentPage)"
            >
              {{ 'GENERAL_LIST.BIRTHDAY' | translate }}
              <i class="cil-arrow-top" *ngIf="sortBirthDateType === 1"></i>
              <i class="cil-arrow-bottom" *ngIf="sortBirthDateType === 2"></i>
            </th>
            <th scope="col" class="col-leaves text-right">
              {{ 'DAY_OFF_TABLE.TOTAL_LEAVES' | translate }}
            </th>
            <th scope="col" class="col-leaves text-right">
              {{ 'DAY_OFF_TABLE.NUMBER_OF_LEAVES_REMAINING' | translate }}
            </th>
            <th scope="col" class="col-action text-center">
              {{ 'DAY_OFF_TABLE.ACTION' | translate }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of data.data; let i = index">
            <td class="align-middle">{{ item.firstName + ' ' + item.lastName }}</td>
            <td class="align-middle">{{ item.birthdate | date: 'dd/MM/yyyy' }}</td>
            <ng-container *ngFor="let type of types">
              <td *ngIf="selectedType.value === type.name" class="align-middle text-right">
                {{ getTotalLeaves(item.dayOffInfos, type.name) }}
              </td>
              <td *ngIf="selectedType.value === type.name" class="align-middle text-right">
                {{ getTotalLeavesRemaining(item.dayOffInfos, type.name) }}
              </td>
            </ng-container>
            <td *ngIf="types.length === 0" class="align-middle text-right">0</td>
            <td *ngIf="types.length === 0" class="align-middle text-right">0</td>
            <td class="align-middle">
              <div class="d-flex justify-content-center">
                <button
                  type="button"
                  class="btn btn-outline-info"
                  data-toggle="modal"
                  (click)="selectedEmployee = item"
                  tooltip="{{ 'DAY_OFF_TABLE.SUBMIT_TIME_OFF' | translate }}"
                  data-target="#subTimeOff"
                >
                  <i class="fa fa-calendar-plus-o"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div
        *ngIf="data.pagination.totalCount === 0"
        class="alert alert-secondary"
        role="alert"
      >
        {{ 'GENERAL_LIST.NO_RESULT' | translate }}
      </div>
      <div class="col-12 pr-0" *ngIf="data.pagination.totalCount !== 0">
        <pagination
          [totalItems]="data.pagination.totalCount"
          [maxSize]="3"
          [itemsPerPage]="10"
          [(ngModel)]="currentPage"
          (pageChanged)="onPageChanged($event.page)"
          class="pagination-md justify-content-end"
          previousText="&lsaquo;"
          nextText="&rsaquo;"
          firstText="&laquo;"
          lastText="&raquo;"
          [boundaryLinks]="true"
          [rotate]="true"
        >
        </pagination>
      </div>
    </div>
  </div>
  <div
    id="subTimeOff"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true"
  >
    <ah-request-day-off
      [searchParams]="searchParams"
      [selectedEmployee]="selectedEmployee"
    ></ah-request-day-off>
  </div>
</div>
