<header class="c-header c-header-light c-header-fixed c-header-with-subheader">
  <button
    class="c-header-toggler c-class-toggler d-lg-none mfe-auto"
    type="button"
    data-target="#sidebar"
    data-class="c-sidebar-show"
  >
    <i class="c-icon c-icon-lg cil-menu"></i>
  </button>
  <button
    class="c-header-toggler c-class-toggler mfs-3 d-md-down-none"
    type="button"
    data-target="#sidebar"
    data-class="c-sidebar-lg-show"
    responsive="true"
  >
    <i class="c-icon c-icon-lg cil-menu"></i>
  </button>
  <a class="c-header-brand d-lg-none" href="#">
    <img
      class="c-sidebar-brand-full"
      width="80"
      src="assets/brand/logo-black.svg"
      alt="Open Web Logo"
    />
    <span class="ml-4">Admin Helper</span>
  </a>
  <div class="c-header-nav d-md-down-none">
    <li class="c-header-nav-item px-3 h4">
      <a class="c-header-nav-link" href="#">Admin Helper</a>
    </li>
  </div>
  <ul class="c-header-nav ml-auto mr-4">
    <li class="c-header-nav-item d-md-down-none mx-2">
      <a class="c-header-nav-link"> {{ userName }} </a>
    </li>
    <li class="c-header-nav-item dropdown">
      <a
        class="c-header-nav-link"
        data-toggle="dropdown"
        href="#"
        role="button"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <div class="c-avatar">
          <img
            class="c-avatar-img"
            src="assets/img/avatars/user.png"
            alt="user@email.com"
          />
        </div>
      </a>
      <div class="dropdown-menu dropdown-menu-right pt-0">
        <div class="dropdown-header bg-light py-2">
          <strong>{{ 'HEADER.ACCOUNT' | translate }}</strong>
        </div>
        <a class="dropdown-item pointer" role="button" (click)="changePassword()">
          <i class="c-icon mr-3 fa fa-unlock-alt"></i>
          {{ 'CHANGE_PASSWORD.TITLE' | translate }}
        </a>
        <a class="dropdown-item pointer" role="button" (click)="logout()">
          <i class="c-icon mr-3 cil-account-logout"></i>
          {{ 'HEADER.LOGOUT' | translate }}
        </a>
      </div>
    </li>
    <li class="c-header-nav-item dropdown">
      <a
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
        class="pointer"
        role="button"
      >
        <i
          *ngIf="translate.currentLang === 'vi'"
          class="c-icon ml-2 cif-vn"
        ></i>
        <i
          *ngIf="translate.currentLang === 'en'"
          class="c-icon ml-2 cif-gb"
        ></i>
      </a>
      <div class="dropdown-menu dropdown-menu-right pt-0">
        <a class="dropdown-item pointer" (click)="switchLanguage('vi')">
          <i class="c-icon mr-3 cif-vn"></i>
          {{ 'HEADER.VIETNAMESE' | translate }}
        </a>
        <a class="dropdown-item pointer" (click)="switchLanguage('en')">
          <i class="c-icon mr-3 cif-gb"></i>
          English
        </a>
      </div>
    </li>
  </ul>
  <div class="c-subheader px-3">
    <ah-loading-spinner></ah-loading-spinner>
    <div class="h5 breadcrumb text-muted border-0 m-0">
      {{ title | translate }}
    </div>
  </div>
</header>
