<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
    <ah-notify></ah-notify>
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalCenterTitle">
        {{ "PROFILE_CREATE.TITLE" | translate }}
      </h5>
      <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
        (click)="resetForm()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
      <div class="modal-body">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="exampleFormControlInput1">
              {{ "PROFILE_CREATE.FIRST_NAME" | translate }}
          </label>
            <input
              type="text"
              class="form-control"
              id="exampleFormControlInput1"
              formControlName="firstName"
              required
            />
            <div
              *ngIf="f.firstName.invalid && (f.firstName.dirty || f.firstName.touched)"
              class="mess-invalid">
              <div *ngIf="f.firstName.errors.required">
                {{ "PROFILE_CREATE.FIRST_NAME_INVALID" | translate }}
              </div>
              <div *ngIf="f.firstName.errors.maxlength">
                {{ "PROFILE_CREATE.FIRST_NAME_MAXLENGTH" | translate }}
              </div>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="exampleFormControlInput2">
              {{ "PROFILE_CREATE.LAST_NAME" | translate }}
            </label>
            <input
              type="text"
              class="form-control"
              id="exampleFormControlInput2"
              formControlName="lastName"
              required
            />
            <div
              *ngIf="f.lastName.invalid && (f.lastName.dirty || f.lastName.touched)"
              class="mess-invalid">
              <div *ngIf="f.lastName.errors.required">
                {{ "PROFILE_CREATE.LAST_NAME_INVALID" | translate }}
              </div>
              <div *ngIf="f.lastName.errors.maxlength">
                {{ "PROFILE_CREATE.LAST_NAME_MAXLENGTH" | translate }}
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput3">
            {{ "PROFILE_CREATE.EMAIL" | translate }}
          </label>
          <input
            type="email"
            class="form-control"
            id="exampleFormControlInput3"
            formControlName="email"
            required
          />
          <div
            *ngIf="f.email.invalid && (f.email.dirty || f.email.touched)"
            class="mess-invalid"
          >
            <div *ngIf="f.email.errors.required">
              {{ "PROFILE_CREATE.EMAIL_INVALID" | translate }}
            </div>
            <div *ngIf="f.email.errors.email">
              {{ "PROFILE_CREATE.IS_EMAIL" | translate }}
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="exampleFormControlInput4">
              {{ "PROFILE_CREATE.PASSWORD" | translate }}
            </label>
            <input
              type="password"
              class="form-control"
              id="exampleFormControlInput4"
              formControlName="encryptedPassword"
              required
            />
            <div
              *ngIf="f.encryptedPassword.invalid && (f.encryptedPassword.dirty || f.encryptedPassword.touched)"
              class="mess-invalid">
              <div *ngIf="f.encryptedPassword.errors.required">
                {{ "PROFILE_CREATE.PASSWORD_INVALID" | translate }}
              </div>
              <div *ngIf="f.encryptedPassword.errors.minlength">
                {{ "PROFILE_CREATE.PASS_MINLENGTH" | translate }}
              </div>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="exampleFormControlInput5">
              {{ "PROFILE_CREATE.PHONE_NUMBER" | translate }}
            </label>
            <input
              type="number"
              class="form-control"
              id="exampleFormControlInput5"
              formControlName="phoneNumber"
              required
            />
            <div
              *ngIf="f.phoneNumber.invalid && (f.phoneNumber.dirty || f.phoneNumber.touched)"
              class="mess-invalid">
              <div *ngIf="f.phoneNumber.errors.required">
                {{ "PROFILE_CREATE.PHONE_NUMBER_INVALID" | translate }}
              </div>
              <div *ngIf="f.phoneNumber.errors.minlength">
                {{ "PROFILE_CREATE.PHONE_NUMBER_MINLENGTH" | translate }}
              </div>
              <div *ngIf="f.phoneNumber.errors.maxlength">
                {{ "PROFILE_CREATE.PHONE_NUMBER_MAXLENGTH" | translate }}
              </div>
              <div *ngIf="f.phoneNumber.errors.pattern">
                {{ "PROFILE_CREATE.PHONE_NUMBER_PATTERN" | translate }}
              </div>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="exampleFormControlInput6">
              {{ "PROFILE_CREATE.BIRTHDAY" | translate }}
            </label>
            <input
              type="date"
              class="form-control"
              [max]="getToday()"
              id="exampleFormControlInput6"
              formControlName="birthdate"
              required
            />
            <div
              *ngIf="f.birthdate.invalid && (f.birthdate.dirty || f.birthdate.touched)"
              class="mess-invalid">
              <div *ngIf="f.birthdate.errors.required">
                {{ "PROFILE_CREATE.BIRTHDAY_INVALID" | translate }}
              </div>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="exampleFormControlInput7">
              {{ "PROFILE_CREATE.JOIN_DATE" | translate }}
            </label>
            <input
              type="date"
              class="form-control"
              id="exampleFormControlInput7"
              formControlName="joinDate"
              required
            />
            <div
              *ngIf="f.joinDate.invalid && (f.joinDate.dirty || f.joinDate.touched)"
              class="mess-invalid">
              <div *ngIf="f.joinDate.errors.required">
                {{ "PROFILE_CREATE.JOIN_DATE_INVALID" | translate }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
          (click)="resetForm()"
        >
          {{ "PROFILE_CREATE.CLOSE" | translate }}
        </button>
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="profileForm.invalid"
        >
          {{ "PROFILE_CREATE.SAVE" | translate }}
        </button>
      </div>
    </form>
  </div>
</div>
