<div class="modal-header">
  <h4 *ngIf="type === 'create'" class="modal-title pull-left">
    {{ 'PROFILE_CREATE.TITLE' | translate }}
  </h4>
  <h4 *ngIf="type === 'detail'" class="modal-title pull-left">
    {{ "PROFILE_DETAIL.TITLE' | translate }}
  </h4>
  <h4 *ngIf="type === 'edit'" class="modal-title pull-left">
    {{ "PROFILE_EDIT.TITLE' | translate }}
  </h4>
  <button
    type="button"
    class="close pull-right"
    aria-label="Close"
    (click)="bsModalRef.hide()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <div class="modal-body">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="exampleFormControlInput1">
          {{ 'PROFILE_CREATE.FIRST_NAME' | translate }}
        </label>
        <input
          type="text"
          class="form-control"
          id="exampleFormControlInput1"
          formControlName="firstName"
          required
        />
        <div
          *ngIf="f.firstName.invalid && (f.firstName.dirty || f.firstName.touched)"
          class="mess-invalid"
        >
          <div *ngIf="f.firstName.errors.required">
            {{ 'PROFILE_CREATE.FIRST_NAME_INVALID' | translate }}
          </div>
          <div *ngIf="f.firstName.errors.maxlength">
            {{ 'PROFILE_CREATE.FIRST_NAME_MAXLENGTH' | translate }}
          </div>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label for="exampleFormControlInput2">
          {{ 'PROFILE_CREATE.LAST_NAME' | translate }}
        </label>
        <input
          type="text"
          class="form-control"
          id="exampleFormControlInput2"
          formControlName="lastName"
          required
        />
        <div
          *ngIf="f.lastName.invalid && (f.lastName.dirty || f.lastName.touched)"
          class="mess-invalid"
        >
          <div *ngIf="f.lastName.errors.required">
            {{ 'PROFILE_CREATE.LAST_NAME_INVALID' | translate }}
          </div>
          <div *ngIf="f.lastName.errors.maxlength">
            {{ 'PROFILE_CREATE.LAST_NAME_MAXLENGTH' | translate }}
          </div>
        </div>
      </div>
    </div>
    <div class="form-row">
    <div class="form-group col-md-6">
      <label for="exampleFormControlInput3">
        {{ 'PROFILE_CREATE.EMAIL' | translate }}
      </label>
      <input
        type="email"
        class="form-control"
        id="exampleFormControlInput3"
        formControlName="email"
        required
      />
      <div
        *ngIf="f.email.invalid && (f.email.dirty || f.email.touched)"
        class="mess-invalid"
      >
        <div *ngIf="f.email.errors.required">
          {{ 'PROFILE_CREATE.EMAIL_INVALID' | translate }}
        </div>
        <div *ngIf="f.email.errors.email">
          {{ 'PROFILE_CREATE.IS_EMAIL' | translate }}
        </div>
      </div>
    </div>
    <div class="form-group col-md-6">
      <label for="exampleFormControlInput5">
        {{ 'PROFILE_CREATE.PHONE_NUMBER' | translate }}
      </label>
      <input
        type="number"
        class="form-control"
        id="exampleFormControlInput5"
        formControlName="phoneNumber"
        required
      />
      <div
        *ngIf="f.phoneNumber.invalid && (f.phoneNumber.dirty || f.phoneNumber.touched)"
        class="mess-invalid"
      >
        <div *ngIf="f.phoneNumber.errors.required">
          {{ 'PROFILE_CREATE.PHONE_NUMBER_INVALID' | translate }}
        </div>
        <div *ngIf="f.phoneNumber.errors.minlength">
          {{ 'PROFILE_CREATE.PHONE_NUMBER_MINLENGTH' | translate }}
        </div>
        <div *ngIf="f.phoneNumber.errors.maxlength">
          {{ 'PROFILE_CREATE.PHONE_NUMBER_MAXLENGTH' | translate }}
        </div>
        <div *ngIf="f.phoneNumber.errors.pattern">
          {{ 'PROFILE_CREATE.PHONE_NUMBER_PATTERN' | translate }}
        </div>
      </div>
    </div>
  </div>
      <div *ngIf="type === 'create'" class="form-group">
        <label for="exampleFormControlInput4">
          {{ 'PROFILE_CREATE.PASSWORD' | translate }}
        </label>
        <input
          type="password"
          class="form-control"
          id="exampleFormControlInput4"
          formControlName="encryptedPassword"
          required
        />
        <div
          *ngIf="f.encryptedPassword.invalid && (f.encryptedPassword.dirty || f.encryptedPassword.touched)"
          class="mess-invalid"
        >
          <div *ngIf="f.encryptedPassword.errors.required">
            {{ 'PROFILE_CREATE.PASSWORD_INVALID' | translate }}
          </div>
          <div *ngIf="f.encryptedPassword.errors.minlength">
            {{ 'PROFILE_CREATE.PASS_MINLENGTH' | translate }}
          </div>
        </div>
      </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="exampleFormControlInput6">
          {{ 'PROFILE_CREATE.BIRTHDAY' | translate }}
        </label>
        <input
          type="date"
          class="form-control"
          [max]="getToday()"
          id="exampleFormControlInput6"
          formControlName="birthdate"
          required
        />
        <div
          *ngIf="f.birthdate.invalid && (f.birthdate.dirty || f.birthdate.touched)"
          class="mess-invalid"
        >
          <div *ngIf="f.birthdate.errors.required">
            {{ 'PROFILE_CREATE.BIRTHDAY_INVALID' | translate }}
          </div>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label for="exampleFormControlInput7">
          {{ 'PROFILE_CREATE.JOIN_DATE' | translate }}
        </label>
        <input
          type="date"
          class="form-control"
          id="exampleFormControlInput7"
          formControlName="joinDate"
          required
        />
        <div
          *ngIf="f.joinDate.invalid && (f.joinDate.dirty || f.joinDate.touched)"
          class="mess-invalid"
        >
          <div *ngIf="f.joinDate.errors.required">
            {{ 'PROFILE_CREATE.JOIN_DATE_INVALID' | translate }}
          </div>
        </div>
      </div>
    </div>
    <h6 *ngIf="type === 'detail'">
      {{ "PROFILE_DETAIL.STATUS' | translate }}:
      <span 
        *ngIf="dataSource?.status === 'ACTIVE'"
        class="badge rounded-pill badge-success p-2">
        {{ "GENERAL_LIST.ACTIVE' | translate }}
      </span>
      <span 
        *ngIf="dataSource?.status !== 'ACTIVE'"
        class="badge rounded-pill badge-danger p-2">
        {{ "GENERAL_LIST.DELETED' | translate }}
      </span>
    </h6>
    <h6>{{ 'PROFILE_CREATE.DAY_OFF_INFO' | translate }}</h6>
    <div class="form-row day-info">
      <div *ngIf="type !== 'detail'" class="form-group col-md-4">
        <label>
          {{ 'PROFILE_CREATE.DAY_OFF_CATE' | translate }}
        </label>
        <span class="form-control text-style day">
          {{ 'PROFILE_CREATE.VACATION' | translate }}
        </span>
        <label>
          {{ 'PROFILE_CREATE.DAY_OFF_CATE' | translate }}
        </label>
        <span class="form-control text-style day">
          {{ 'PROFILE_CREATE.ILLNESS' | translate }}
        </span>
      </div>
      <div *ngIf="type !== 'detail'" class="form-group col-md-8">
        <div
          formArrayName="dayOffInfos"
          *ngFor="let item of dayOffInfos.controls; let i = index"
        >
          <div [formGroupName]="i">
            <label>
              {{ 'PROFILE_CREATE.HOUR' | translate }}
            </label>
            <div class="total-hours">
              <input
              type="number"
              class="form-control day"
              formControlName="hours"
              required
              />
              <button *ngIf="dayOffInfos.at(i).disabled" type="button" class="btn btn-outline-info" (click)="dayOffInfos.at(i).enable()">
                <span class="cil-brush"></span>
              </button>
              <button *ngIf="!dayOffInfos.at(i).disabled" type="button" class="btn btn-outline-info" (click)="dayOffInfos.at(i).disable()">
                <span class="cib-verizon"></span>
              </button>
            </div>
            <div
              *ngIf="dayOffInfos.controls[i].get('hours').invalid && (dayOffInfos.controls[i].get('hours').dirty || dayOffInfos.controls[i].get('hours').touched)"
              class="mess-invalid"
            >
              <div *ngIf="dayOffInfos.controls[i].get('hours').errors.required">
                {{ 'PROFILE_CREATE.HOURS_INVALID' | translate }}
              </div>
              <div *ngIf="dayOffInfos.controls[i].get('hours').errors.pattern">
                {{ 'PROFILE_CREATE.HOURS_PATTERN' | translate }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="type === 'detail'">
      <div *ngFor="let hour of dataSource?.dayOffInfos">
        <div style="font-weight: bold;">
          {{ 'PROFILE_CREATE.DAY_OFF_CATE' | translate }}: 
          <span *ngIf="hour.category_name === 'VACATION'">
            {{ 'PROFILE_CREATE.VACATION' | translate }}
          </span>
          <span *ngIf="hour.category_name === 'ILLNESS'">
            {{ 'PROFILE_CREATE.ILLNESS' | translate }}
          </span>
        </div>
        <div>{{ 'PROFILE_CREATE.AVAILABLE_HOURS' | translate }}: {{ hour.available_hours }}</div>
        <div>{{ 'PROFILE_CREATE.HOUR' | translate }}: {{ hour.hours }}</div>
      </div>
    </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="bsModalRef.hide()">
      {{ 'PROFILE_CREATE.CLOSE' | translate }}
    </button>
    <button
      *ngIf="type !== 'detail'"
      type="submit"
      class="btn btn-primary"
      [disabled]="profileForm.invalid"
    >
      {{ 'PROFILE_CREATE.SAVE' | translate }}
    </button>
  </div>  
</form>
