div {
  margin-top: 15px;
  text-align: center;
  span {
    text-align: center;
    padding: 15px;
    font-size: larger;
    border-radius: 3px;
  }
  .alert-success {
    background: #e8fdf1;
  }
  .alert-danger {
    background: #fde8ec;
  }
}
