<div class="c-app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card-group">
          <div class="card p-4">
            <div class="card-body">
              <div class="d-flex justify-content-center mb-2">
                <img src="assets/brand/logo-black.svg" alt="Logo" width="55%">
              </div>
              <h1>{{ 'LOGIN.TITLE' | translate }}</h1>
              <p class="text-muted">{{ 'LOGIN.SIGN_IN' | translate }}</p>
              <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="auto-validated">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="cib-gmail"></i>
                    </span>
                  </div>
                  <input
                    class="form-control"
                    type="email"
                    formControlName="email"
                    placeholder="Email"
                    required
                  />
                  <div
                    *ngIf="f.email.invalid && f.email.touched"
                    class="invalid-feedback"
                   >
                    <div *ngIf="f.email.errors.required">
                      {{ 'PROFILE_CREATE.EMAIL_INVALID' | translate }}
                    </div>
                    <div *ngIf="f.email.errors.email">
                      {{ 'PROFILE_CREATE.IS_EMAIL' | translate }}
                    </div>
                  </div>
                </div>
                <div class="input-group mt-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="cil-lock-locked"></i>
                    </span>
                  </div>
                  <input
                    class="form-control"
                    type="password"
                    formControlName="password"
                    placeholder="{{
                      'PROFILE_CREATE.PASSWORD_INVALID' | translate
                    }}"
                    required
                  />
                  <div
                    *ngIf="f.password.invalid && f.password.touched"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f.password.errors.required">
                      {{ 'PROFILE_CREATE.PASSWORD_INVALID' | translate }}
                    </div>
                    <div *ngIf="f.password.errors.minlength">
                      {{ 'PROFILE_CREATE.PASS_MINLENGTH' | translate }}
                    </div>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col-5">
                    <button
                      class="btn btn-info px-4"
                      type="submit"
                      [disabled]="loginForm.invalid"
                    >
                      {{ 'LOGIN.TITLE' | translate }}
                    </button>
                  </div>
                  <div class="col-7 text-right">
                    <button
                      type="button"
                      class="btn btn-outline-info"
                      (click)="signInWithGoogle()"
                    >
                      <i class="fa fa-google-plus mr-2"></i>
                      {{ 'LOGIN.SIGN_IN_GG' | translate }}
                    </button>
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="col-6">
                    <button
                      class="btn btn-ghost-info px-2"
                      type="button"
                      (click)="onNavigateToResetPage()"
                    >
                      {{ 'LOGIN.FORGOT_PASSWORD' | translate }}
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
