.c-app {
  min-height: calc(100vh - 186px) !important;
  justify-content: center;
  .invalid-message {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: red;
    display: block;
  }
  .pr {
    float: right;
  }
}
