<div class="c-app align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card-group">
          <div class="card p-4">
            <div class="card-body">
              <h1 *ngIf="isChangePw; else reset_pw_title" class="text-center">
                {{ 'CHANGE_PASSWORD.TITLE' | translate }}
              </h1>
              <ng-template #reset_pw_title>
                {{ 'RESET_PASSWORD.TITLE' | translate }}
              </ng-template>
              <p *ngIf="!isChangePw && verify === 0" class="text-muted">
                {{ 'RESET_PASSWORD.PARAMS1' | translate }}
              </p>
              <form [formGroup]="updatePwForm" (ngSubmit)="onSubmit()" class="auto-validated">
                <div
                  *ngIf="!isChangePw && verify === 0"
                  class="input-group mt-4"
                >
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="cib-gmail"></i>
                    </span>
                  </div>
                  <input
                    class="form-control"
                    type="email"
                    formControlName="email"
                    placeholder="Email"
                    required
                  />
                  <div
                    *ngIf="f.email.invalid && f.email.touched"
                    class="invalid-feedback"
                  >
                    {{ getEmailErrorMessage() }}
                  </div>
                </div>
                <p *ngIf="verify === 1" class="text-muted">
                  {{ 'RESET_PASSWORD.PARAMS2' | translate }}
                </p>
                <div *ngIf="verify === 1" class="input-group mt-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="cil-lock-locked"></i>
                    </span>
                  </div>
                  <input
                    class="form-control"
                    type="number"
                    formControlName="token"
                    placeholder="Token"
                    required
                  />
                  <div
                    *ngIf="f.token.invalid && f.token.touched"
                    class="invalid-feedback"
                  >
                    {{ getTokenErrorMessage() }}
                  </div>
                </div>
                <div *ngIf="isChangePw" class="input-group mt-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="cil-lock-locked"></i>
                    </span>
                  </div>
                  <input
                    class="form-control"
                    type="password"
                    formControlName="oldPassword"
                    placeholder="{{ 'CHANGE_PASSWORD.OLD_PASSWORD' | translate }}"
                    required
                  />
                  <div
                    *ngIf="f.oldPassword.invalid && f.oldPassword.touched"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f.oldPassword.errors.required">
                      {{ 'PROFILE_CREATE.PASSWORD_INVALID' | translate }}
                    </div>
                    <div *ngIf="f.oldPassword.errors.minlength">
                      {{ 'PROFILE_CREATE.PASS_MINLENGTH' | translate }}
                    </div>
                  </div>
                </div>
                <p *ngIf="verify === 2" class="text-muted">
                  {{ 'RESET_PASSWORD.PARAMS3' | translate }}
                </p>
                <div
                  *ngIf="verify === 2 || isChangePw"
                  class="input-group mt-4"
                >
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="cil-lock-locked"></i>
                    </span>
                  </div>
                  <input
                    class="form-control"
                    type="password"
                    formControlName="newPassword"
                    placeholder="{{ 'CHANGE_PASSWORD.NEW_PASSWORD' | translate }}"
                    required
                  />
                  <div
                    *ngIf="f.newPassword.invalid && f.newPassword.touched"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f.newPassword.errors.required">
                      {{ 'PROFILE_CREATE.PASSWORD_INVALID' | translate }}
                    </div>
                    <div *ngIf="f.newPassword.errors.minlength">
                      {{ 'PROFILE_CREATE.PASS_MINLENGTH' | translate }}
                    </div>
                  </div>
                </div>
                <div
                  *ngIf="verify === 2 || isChangePw"
                  class="input-group mt-4"
                >
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="cil-lock-locked"></i>
                    </span>
                  </div>
                  <input
                    class="form-control"
                    type="password"
                    formControlName="confirmPassword"
                    placeholder="{{ 'CHANGE_PASSWORD.CONFIRM_PASSWORD' | translate }}"
                    required
                  />
                  <div
                    *ngIf="(f.confirmPassword.invalid || passwordIsIncorrect()) && f.confirmPassword.touched"
                     class="invalid-feedback"
                    >
                    {{ getErrorMessage() }}
                </div>
                </div>
                <div class="row mt-4">
                  <div *ngIf="!isChangePw" class="col-6">
                    <button
                      class="btn btn-ghost-info"
                      type="button"
                      [routerLink]="['/dang-nhap']"
                    >
                      {{ 'RESET_PASSWORD.NAVIGATE_TO_LOGIN' | translate }}
                    </button>
                  </div>
                  <div class="col-6 text-right" *ngIf="!isChangePw">
                    <button
                      class="btn btn-info"
                      type="submit"
                      [disabled]="disabled"
                    >
                      {{ getBtnName() }}
                    </button>
                  </div>
                  <div class="col-12 text-right" *ngIf="isChangePw">
                    <button
                    class="btn btn-info px-4"
                    type="submit"
                    [disabled]="disabled"
                  >
                    {{ getBtnName() }}
                  </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
