<div class="c-app align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card-group">
          <div class="card p-4">
            <div class="card-body">
              <h1>{{ 'UPDATE_PASSWORD.TITLE1' | translate }}</h1>
              <p *ngIf="!isChangePw && verify === 0" class="text-muted">
                {{ 'UPDATE_PASSWORD.PARAMS1' | translate }}
              </p>
              <form [formGroup]="updatePwForm" (ngSubmit)="onSubmit()">
                <div
                  *ngIf="!isChangePw && verify === 0"
                  class="input-group mb-3"
                >
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="cib-gmail"></i
                    ></span>
                  </div>
                  <input
                    class="form-control"
                    type="email"
                    formControlName="email"
                    placeholder="Email"
                    required
                  />
                  <div
                    *ngIf="
                      f.email.invalid && (f.email.dirty || f.email.touched)
                    "
                    class="mess-invalid"
                  >
                    <div *ngIf="f.email.errors.required">
                      {{ 'PROFILE_CREATE.EMAIL_INVALID' | translate }}
                    </div>
                    <div *ngIf="f.email.errors.email">
                      {{ 'PROFILE_CREATE.IS_EMAIL' | translate }}
                    </div>
                  </div>
                </div>
                <p *ngIf="verify === 1" class="text-muted">
                  {{ 'UPDATE_PASSWORD.PARAMS2' | translate }}
                </p>
                <div *ngIf="verify === 1" class="input-group mt-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="cil-lock-locked"></i
                    ></span>
                  </div>
                  <input
                    class="form-control"
                    type="password"
                    formControlName="token"
                    placeholder="Token"
                    required
                  />
                </div>
                <div
                  *ngIf="f.token.invalid && (f.token.dirty || f.token.touched)"
                  class="mess-invalid"
                >
                  <div *ngIf="f.token.errors.required">
                    {{ 'PROFILE_CREATE.PASSWORD_INVALID' | translate }}
                  </div>
                  <div *ngIf="verify === 1">
                    {{ 'UPDATE_PASSWORD.TOKEN_INVALID' | translate }}
                  </div>
                </div>
                <div *ngIf="isChangePw" class="input-group mt-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="cil-lock-locked"></i
                    ></span>
                  </div>
                  <input
                    class="form-control"
                    type="password"
                    formControlName="oldPassword"
                    placeholder="Old password"
                    required
                  />
                </div>
                <div
                  *ngIf="
                    f.oldPassword.invalid &&
                    (f.oldPassword.dirty || f.oldPassword.touched)
                  "
                  class="mess-invalid"
                >
                  <div *ngIf="f.oldPassword.errors.required">
                    {{ 'PROFILE_CREATE.PASSWORD_INVALID' | translate }}
                  </div>
                  <div *ngIf="f.oldPassword.errors.minlength">
                    {{ 'PROFILE_CREATE.PASS_MINLENGTH' | translate }}
                  </div>
                </div>
                <p *ngIf="verify === 2" class="text-muted">
                  {{ 'UPDATE_PASSWORD.PARAMS3' | translate }}
                </p>
                <div
                  *ngIf="verify === 2 || isChangePw"
                  class="input-group mt-4"
                >
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="cil-lock-locked"></i
                    ></span>
                  </div>
                  <input
                    class="form-control"
                    type="password"
                    formControlName="newPassword"
                    placeholder="New password"
                    required
                  />
                </div>
                <div
                  *ngIf="
                    f.newPassword.invalid &&
                    (f.newPassword.dirty || f.newPassword.touched)
                  "
                  class="mess-invalid"
                >
                  <div *ngIf="f.newPassword.errors.required">
                    {{ 'PROFILE_CREATE.PASSWORD_INVALID' | translate }}
                  </div>
                  <div *ngIf="f.newPassword.errors.minlength">
                    {{ 'PROFILE_CREATE.PASS_MINLENGTH' | translate }}
                  </div>
                </div>
                <div
                  *ngIf="verify === 2 || isChangePw"
                  class="input-group mt-4"
                >
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="cil-lock-locked"></i
                    ></span>
                  </div>
                  <input
                    class="form-control"
                    type="password"
                    formControlName="confirmPassword"
                    placeholder="Confirm new password"
                    required
                  />
                </div>
                <div
                  *ngIf="
                    f.confirmPassword.invalid &&
                    (f.confirmPassword.dirty || f.confirmPassword.touched)
                  "
                  class="mess-invalid"
                >
                  <div *ngIf="f.confirmPassword.errors.required">
                    {{ 'PROFILE_CREATE.PASSWORD_INVALID' | translate }}
                  </div>
                  <div *ngIf="f.confirmPassword.errors.minlength">
                    {{ 'PROFILE_CREATE.PASS_MINLENGTH' | translate }}
                  </div>
                </div>
                <div class="row">
                  <div class="col-6 mt-4">
                    <button
                      class="btn btn-info px-4"
                      type="submit"
                      [disabled]="disabled"
                    >
                      {{ getBtnName() }}
                    </button>
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="col-6">
                    <button class="btn btn-ghost-info px-2" type="button">
                      {{ 'UPDATE_PASSWORD.LOGIN' | translate }}
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
