<div class="card">
  <div class="card-body">
    <div class="table-responsive" *ngIf="data$ | async as data">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col" class="col-id">No.</th>
            <th scope="col" class="col-name">
              {{ 'DAY_OFF_CATEGORIES_PAGE.NAME' | translate }}
            </th>
            <th scope="col" class="col-name text-right">
              {{ 'DAY_OFF_CATEGORIES_PAGE.DAY_OFF' | translate }}
            </th>
            <th scope="col" class="col-description">
              {{ 'DAY_OFF_CATEGORIES_PAGE.DESCRIPTION' | translate }}
            </th>
            <th scope="col" class="col-action text-center">
              {{ 'DAY_OFF_CATEGORIES_PAGE.ACTION' | translate }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of data.dayoff; let i = index">
            <th scope="row" class="align-middle">
              {{ i + 1 }}
            </th>
            <td class="align-middle">{{ item.name | titlecase }}</td>
            <td class="align-middle text-right">{{ item.totalHoursDefault / 8 }}</td>
            <td class="align-middle">{{ item.description }}</td>
            <td class="d-flex justify-content-center align-middle">
              <button
                class="btn btn-outline-primary mr-2"
                (click)="openModalWithComponent(item, 'edit')"
              >
                <span class="cil-brush"></span>
              </button>
              <button
                class="btn btn-outline-danger"
                (click)="openModalWithComponent(item, 'delete')"
              >
                <span class="cil-trash"></span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div
        *ngIf="data && data?.dayoff.length === 0"
        class="alert alert-secondary"
        role="alert"
      >
        {{ 'GENERAL_LIST.NO_RESULT' | translate }}
      </div>
    </div>
    <div class="d-flex justify-content-end">
      <button
        type="button"
        class="btn btn-info"
        (click)="openModalWithComponent(null, 'create')"
      >
        <span class="cil-playlist-add btn-icon mr-2"></span>
        {{ 'DAY_OFF_CATEGORIES_PAGE.CREATE' | translate }}
      </button>
    </div>
  </div>
</div>
