<div class="card">
  <div class="card-body">
    <div class="row mb-2">
      <div class="col-7">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i class="cil-search"></i>
            </div>
          </div>
          <input
            type="search"
            class="form-control"
            [formControl]="searchInput"
            id="inlineFormInputGroupUsername"
            placeholder="VD: Nguyen, 2020, ..."
          />
        </div>
      </div>
      <div class="col-5" style="text-align: right">
        <button
          type="button"
          class="btn btn-primary"
          style="padding: 5px 15px; margin: 5px"
          (click)="openModalWithComponent(null, 'create')"
        >
          {{ "DAY_OFF_CATEGORIES_PAGE.CREATE" | translate }}
        </button>
      </div>
    </div>
    <div class="table-responsive" *ngIf="data$ | async as data">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col" style="width: 10%">ID</th>
            <th scope="col" style="width: 20%">
              {{ "DAY_OFF_CATEGORIES_PAGE.NAME" | translate }}
            </th>
            <th scope="col" style="width: 50%">
              {{ "DAY_OFF_CATEGORIES_PAGE.DESCRIPTION" | translate }}
            </th>
            <th scope="col" style="width: 20%">
              {{ "DAY_OFF_CATEGORIES_PAGE.ACTION" | translate }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of data.dayoff; let i = index">
            <th scope="row">
              {{ i + 1 }}
            </th>
            <td>{{ item.name[0] + item.name.slice(1).toLowerCase() }}</td>
            <td>{{ item.description }}</td>
            <td style="text-align: center">
              <button
                type="button"
                class="btn btn-primary"
                style="padding: 5px 15px; margin: 5px"
                (click)="openModalWithComponent(item, 'edit')"
              >
                {{ "DAY_OFF_CATEGORIES_PAGE.EDIT" | translate }}
              </button>
              <button
                type="button"
                class="btn btn-danger"
                style="padding: 5px 15px; margin: 5px"
                (click)="openModalWithComponent(item, 'delete')"
              >
                {{ "DAY_OFF_CATEGORIES_PAGE.DELETE" | translate }}
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div
        *ngIf="data && data.dayoff.length === 0"
        class="alert alert-secondary"
        role="alert"
      >
        {{ "GENERAL_LIST.NO_RESULT" | translate }}
      </div>
    </div>
  </div>
</div>
