<div class="modal-header">
  <h4 class="modal-title pull-left">
    {{ 'DEVICE_ASSIGN.TITLE' | translate }}
  </h4>
  <button
    type="button"
    class="close pull-right"
    aria-label="Close"
    (click)="bsModalRef.hide()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body pb-0">
  <div class="row mb-4">
    <div class="col-7">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <i class="cil-search"></i>
          </div>
        </div>
        <input
          type="search"
          class="form-control sticky-top"
          [formControl]="searchFormControl"
          id="inlineFormInputGroupUsername"
          placeholder="{{ 'GENERAL_LIST.PLACEHOLDER' | translate }}"
          (blur)="onSearchSubmit()"
          (search)="onSearchSubmit()"
        />
      </div>
    </div>
  </div>
  <div class="table-responsive" *ngIf="employeeObs$ | async as employeeObs">
    <table class="table table-striped">
      <thead class="thead-inverse">
        <tr>
          <th
            scope="col"
            class="pointer"
            (click)="onSort(employeeObs.pagination.currentPage, 'name')"
          >
            {{ 'GENERAL_LIST.NAME' | translate }}
            <i class="cil-arrow-top" *ngIf="sortNameType === 1"></i>
            <i class="cil-arrow-bottom" *ngIf="sortNameType === 2"></i>
          </th>
          <th
            scope="col"
            class="pointer"
            (click)="onSort(employeeObs.pagination.currentPage, 'birthdate')"
          >
            {{ 'GENERAL_LIST.BIRTHDAY' | translate }}
            <i class="cil-arrow-top" *ngIf="sortBirthDateType === 1"></i>
            <i class="cil-arrow-bottom" *ngIf="sortBirthDateType === 2"></i>
          </th>
          <th scope="col" class="text-center">
            {{ 'GENERAL_LIST.ACTIONS' | translate }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of employeeObs.employees; let i = index">
          <td>{{ item.firstName + ' ' + item.lastName }}</td>
          <td>{{ item.birthdate | date: 'dd/MM/yyyy' }}</td>
          <td class="text-center">
            <input
              type="radio"
              class="pointer"
              [formControl]="assigned"
              id="{{ item.id }}"
              value="{{ item.id }}"
            />
          </td>
        </tr>
      </tbody>
    </table>
    <div
      *ngIf="employeeObs.employees.length === 0"
      class="alert alert-secondary"
      role="alert"
    >
      {{ 'GENERAL_LIST.NO_RESULT' | translate }}
    </div>
    <div class="col-12 pr-0" *ngIf="employeeObs.pagination.totalCount !== 0">
      <pagination
        [totalItems]="employeeObs.pagination.totalCount"
        [maxSize]="3"
        [itemsPerPage]="5"
        [(ngModel)]="currentPage"
        (pageChanged)="onPageChanged($event.page)"
        class="pagination-md justify-content-end"
        previousText="&lsaquo;"
        nextText="&rsaquo;"
        firstText="&laquo;"
        lastText="&raquo;"
        [boundaryLinks]="true"
        [rotate]="true"
      >
      </pagination>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="bsModalRef.hide()">
    {{ 'PROFILE_CREATE.CLOSE' | translate }}
  </button>
  <button
    type="button"
    class="btn btn-success"
    (click)="onSubmit()"
    [disabled]="!assigned.value"
  >
    {{ 'PROFILE_CREATE.SAVE' | translate }}
  </button>
</div>
