.modal-body{
  .list-group-flush{
    border: 1px solid rgba(0,0,21,.125);
    padding: 10px;
    border-radius: 4px;
    margin-top: 5px;
  }
  .badge{
    width: 75px;
  }
}
.modal-footer{
  text-align: right;
}