<div class="card">
  <div class="card-body">
    <div class="row mb-4">
      <div class="col-7">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i class="cil-search"></i>
            </div>
          </div>
          <input
            type="search"
            class="form-control sticky-top"
            [formControl]="searchFormControl"
            id="inlineFormInputGroupUsername"
            placeholder="VD: Nguyen, 2020, ..."
          />
        </div>
      </div>
      <div class="col-5">
        <div class="form-group">
          <select
            class="form-select pointer"
            id="statusSelect"
            [formControl]="searchStatusFormControl"
          >
            <option selected value="">
              {{ "GENERAL_LIST.STATUS" | translate }}
            </option>
            <option value="ACTIVE">
              {{ "GENERAL_LIST.ACTIVE" | translate }}
            </option>
            <option value="DELETED">
              {{ "GENERAL_LIST.DELETED" | translate }}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="table-responsive" *ngIf="employeeObs$ | async as employeeObs">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col" class="pointer" (click)="onSort('first_name')">
              {{ "GENERAL_LIST.NAME" | translate }}
              <i class="cil-sort-ascending"></i>
            </th>
            <th scope="col" class="pointer" (click)="onSort('birthdate')">
              {{ "GENERAL_LIST.BIRTHDAY" | translate }}
              <i class="cil-sort-ascending"></i>
            </th>
            <th scope="col" class="pointer" (click)="onSort('join_date')">
              {{ "GENERAL_LIST.JOIN_DATE" | translate }}
              <i class="cil-sort-ascending"></i>
            </th>
            <th scope="col">{{ "GENERAL_LIST.PHONE_NUMBER" | translate }}</th>
            <th scope="col">
              {{ "GENERAL_LIST.STATUS" | translate }}
            </th>
            <th scope="col">{{ "GENERAL_LIST.ACTIONS" | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of employeeObs.employees; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ item.firstName + " " + item.lastName }}</td>
            <td>{{ item.birthdate }}</td>
            <td>{{ item.joinDate }}</td>
            <td>{{ item.phoneNumber }}</td>
            <td>
              <span
                class="badge rounded-pill badge-danger p-2"
                *ngIf="item.status !== 'ACTIVE'"
                >{{ "GENERAL_LIST.DELETED" | translate }}</span
              >
              <span
                class="badge rounded-pill badge-success p-2"
                *ngIf="item.status === 'ACTIVE'"
                >{{ "GENERAL_LIST.ACTIVE" | translate }}</span
              >
            </td>
            <td>
              <span class="cil-external-link mr-2"></span
              >{{ "GENERAL_LIST.DETAIL" | translate }}
            </td>
          </tr>
        </tbody>
      </table>
      <div class="col-12" *ngIf="employeeObs.pagination.totalCount !== 0">
        <pagination
          [totalItems]="employeeObs.pagination.totalCount"
          [maxSize]="3"
          [itemsPerPage]="20"
          [(ngModel)]="currentPage"
          (pageChanged)="onPageChanged($event.page)"
          class="pagination-md justify-content-end"
          previousText="&lsaquo;"
          nextText="&rsaquo;"
          firstText="&laquo;"
          lastText="&raquo;"
          [boundaryLinks]="true"
          [rotate]="true"
        >
        </pagination>
      </div>

      <div
        *ngIf="employeeObs.employees.length === 0"
        class="alert alert-light"
        role="alert"
      >
        {{ "GENERAL_LIST.NO_RESULT" | translate }}
      </div>
    </div>

    <div class="d-flex justify-content-end">
      <button
        type="button"
        data-toggle="modal"
        data-target="#exampleModalCenter"
        class="btn btn-info"
      >
        <span class="cil-playlist-add btn-icon mr-2"></span>
        {{ "GENERAL_LIST.CREATE_EMPLOYEE_PROFILE" | translate }}
      </button>
      <div
        class="modal fade"
        id="exampleModalCenter"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true"
      >
        <profile-create></profile-create>
      </div>
    </div>
  </div>
</div>
