<div class="card">
  <div class="card-body">
    <div class="row mb-4">
      <div class="col-7">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i class="cil-search"></i>
            </div>
          </div>
          <input type="text"
                 class="form-control"
                 id="inlineFormInputGroupUsername"
                 placeholder="VD: Nguyen, 2020, ...">
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">{{ 'generalList.name' | translate}}</th>
            <th scope="col">{{ 'generalList.birthday' | translate}}</th>
            <th scope="col">{{ 'generalList.joinDate' | translate}}</th>
            <th scope="col">{{ 'generalList.phoneNumber' | translate}}</th>
            <th scope="col">{{ 'generalList.status' | translate}}</th>
            <th scope="col">{{ 'generalList.actions' | translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Nguyễn Văn A</td>
            <td>01/01/1990</td>
            <td>01/01/2020</td>
            <td>09098786788</td>
            <td><span class="badge rounded-pill badge-success p-2">Active</span></td>
            <td><span class="cil-external-link mr-2"></span> Detail</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Nguyễn Văn B</td>
            <td>01/01/1990</td>
            <td>01/01/2020</td>
            <td>09098786788</td>
            <td><span class="badge rounded-pill badge-danger p-2">Deleted</span></td>
            <td><span class="cil-external-link mr-2"></span> Detail</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Nguyễn Văn A</td>
            <td>01/01/1990</td>
            <td>01/01/2020</td>
            <td>09098786788</td>
            <td><span class="badge rounded-pill badge-success p-2">Active</span></td>
            <td><span class="cil-external-link mr-2"></span> Detail</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="d-flex justify-content-end">
      <button type="button"
              class="btn btn-info"><span class="cil-playlist-add btn-icon mr-2"></span>{{ 'generalList.createEmployeeProfile' | translate}}</button>
    </div>
  </div>
</div>
