<div class="c-sidebar-brand d-lg-down-none">
  <img class="c-sidebar-brand-full"
       width="100"
       src="assets/brand/logo.svg"
       alt="Open Web Logo">
  <img class="c-sidebar-brand-minimized"
       width="46"
       src="assets/brand/logo.svg"
       alt="Open Web Logo">

</div>
<ul class="c-sidebar-nav">
  <li class="c-sidebar-nav-title">Quản lý nhân viên</li>

  <li class="c-sidebar-nav-item"
      type="button">
    <a class="c-sidebar-nav-link"
       (click)="navigateToGeneralListPage()">
      <i class="c-sidebar-nav-icon cil-info"></i>
      Thông tin chung
    </a>
  </li>
  <li class="c-sidebar-nav-item"
      type="button">
    <a class="c-sidebar-nav-link"
       (click)="navigateToDayoffPage()">
      <i class="c-sidebar-nav-icon cil-home"></i>
      Ngày phép
    </a>
  </li>
  <li class="c-sidebar-nav-item"
      type="button">
    <a class="c-sidebar-nav-link">
      <i class="c-sidebar-nav-icon cil-calendar-check"></i>
      Chấm công
    </a>
  </li>
  <li class="c-sidebar-nav-divider"></li>
</ul>
<button class="c-sidebar-minimizer c-class-toggler"
        type="button"
        data-target="#sidebar"
        data-class="c-sidebar-minimized"></button>
