table {
  .align-middle {
    .link-a {
      cursor: pointer;
      color: #321fdb;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .pointer {
    cursor: pointer;
  }
}

.card-emp {
  .search {
    display: none;
  }
  .card-body {
    padding: 0;
  }
  .table-emp {
    thead {
      background-color: rgba(0, 0, 21, 0.075);
      .col-email {
        display: none;
      }
      .col-hour {
        white-space: nowrap;
      }
    }
    tbody {
      tr {
        height: 86px;
      }
      .email-td {
        display: none;
      }
    }
  }
}
