<div [ngClass]="id ? 'card-emp' : 'card'">
  <div class="card-body">
    <div class="row search">
      <div class="col-sm-3">
          <div class="form-group d-flex flex-column">
            <label>
              {{ 'DAY_OFF_CATEGORIES_PAGE.EMP' | translate }}
            </label>
            <div class="d-flex">
              <ngx-select 
                class="flex-fill"
                [(ngModel)]="selectedEmployeeId"
                [items]="employeeObs"
                [noResultsFound]="'DAY_OFF_CATEGORIES_PAGE.NO_RESULT' | translate"
                placeholder="{{ 'DAY_OFF_CATEGORIES_PAGE.ENTER_EMP' | translate }}"
                (selectionChanges)="doSelectOptions($event)">
              </ngx-select>
              <div class="form-group" *ngIf="selectedEmployeeId.length !== 0">
                <button class="btn btn-outline-danger ml-2" (click)="clear()">
                  <i class="cil-x"></i>
                </button>
              </div>
            </div>
          </div>
      </div>
      <div class="col-sm-3" *ngIf="types$ | async as types">
        <div class="form-group d-flex flex-column">
          <label class="d-inline-block mr-3 ml-2" for="day-off-type">
            {{ 'PROFILE_CREATE.DAY_OFF_CATE' | translate }}
          </label>
          <select
            [formControl]="selectedType"
            class="form-control d-inline-block"
            style="width: auto"
            id="day-off-type"
          >
            <option value="">
              {{ 'GENERAL_LIST.ALL' | translate }}
            </option>
            <option *ngFor="let item of types" [value]="item.id">
              {{ item.name | titlecase }}
            </option>
          </select>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group d-flex flex-column">
          <label class="d-inline-block mr-3 ml-2" for="from-date">
            {{ 'REQUEST_DAY_OFF.FROM_DATE' | translate }}
          </label>
          <input
            type="date"
            class="form-control w-auto d-inline-block"
            [max]="validFromDate"
            id="from-date"
            [formControl]="selectedFromDate"
          />
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group d-flex flex-column">
          <label class="d-inline-block mr-3 ml-2" for="to-date">
            {{ 'REQUEST_DAY_OFF.TO_DATE' | translate }}
          </label>
          <input
            type="date"
            class="form-control w-auto d-inline-block"
            [min]="validToDate"
            id="to-date"
            [formControl]="selectedToDate"
          />
        </div>
      </div>
    </div>
    <div class="table-responsive" *ngIf="data$ | async as data">
      <table *ngIf="data.dayOffRequest?.data?.length > 0" [ngClass]="id ? 'table table-emp' : 'table table-bordered table-striped'">
        <thead>
          <tr>
            <th scope="col" class="col-email">
              {{ 'DAY_OFF_CATEGORIES_PAGE.NAME' | translate }}
            </th>
            <th scope="col" class="col-email">
              {{ 'LOGIN.EMAIL' | translate }}
            </th>
            <th scope="col" class="col-name">
              {{ 'REQUEST_DAY_OFF.FROM_DATE' | translate }}
            </th>
            <th scope="col">
              {{ 'REQUEST_DAY_OFF.TO_DATE' | translate }}
            </th>
            <th scope="col" class="col-hour text-right">
              {{ 'REQUEST_DAY_OFF.HOURS_PER_DAY' | translate }}
            </th>
            <th scope="col" class="text-center">
              {{ 'DAY_OFF_CATEGORIES_PAGE.CATEGORY_NAME' | translate }}
            </th>
            <th scope="col" class="text-center">
              {{ 'GENERAL_LIST.STATUS' | translate }}
            </th>
            <th scope="col" class="col-action text-center">
              {{ 'DAY_OFF_TABLE.ACTION' | translate }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of data.dayOffRequest.data; let i = index">
            <td class="align-middle email-td">
              <a class="link-a" (click)="navigateEmployeeDetail(item.user.id)">
                {{ item.user.lastName + ' ' + item.user.firstName }}
              </a>
            </td>
            <td class="align-middle email-td">{{ item.user.email }}</td>
            <td class="align-middle">{{ item.fromDate | date: 'dd/MM/yyyy' }}</td>
            <td class="align-middle">{{ item.toDate| date: 'dd/MM/yyyy' }}</td>
            <td class="align-middle text-right">{{ item.hoursPerDay }}</td>
            <td class="align-middle text-center">{{ item.dayOffCategory.name | titlecase }}</td>
            <td class="align-middle text-center">
              <span
                class="badge rounded-pill badge-info py-2 px-3"
                *ngIf="item.status === 'pending'">
                {{ 'DAY_OFF_REQUEST_PAGE.PENDING' | translate }}
              </span>
              <span
                class="badge rounded-pill badge-success py-2 px-3"
                *ngIf="item.status === 'approved'">
                {{ 'DAY_OFF_REQUEST_PAGE.APPROVED' | translate }}
              </span>
              <span
                class="badge rounded-pill badge-danger py-2 px-3"
                *ngIf="item.status === 'cancelled'">
                {{ 'DAY_OFF_REQUEST_PAGE.CANCELLED' | translate }}
              </span>
              <span
                class="badge rounded-pill badge-danger py-2 px-3"
                *ngIf="item.status === 'denied'">
                {{ 'DAY_OFF_REQUEST_PAGE.DENIED' | translate }}
              </span>
            </td>
            <td class="align-middle">
              <div class="d-flex justify-content-center">
                <button 
                  class="btn btn-outline-danger" 
                  (click)="openConfirmModal(item.id, 'cancel', searchParams)"
                  *ngIf="!isAdmin() && item.status === 'pending'">
                  <i class="fa fa-window-close"></i>
                </button>
                <div class="dropleft" *ngIf="isAdmin()">
                  <button
                    [id]="'dropdownBtn' + i"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                    class="btn btn-outline-primary"
                    (click)="openModalWithComponent(item)"
                  >
                    <span class="cil-options"></span>
                  </button>
                  <div
                  [attr.aria-labelledby]="'dropdownBtn' + i"
                  class="dropdown-menu pt-0 pb-0"
                >
                  <div class="dropdown-header bg-light py-2">
                    <strong>{{ 'GENERAL_LIST.ACTIONS' | translate }}</strong>
                  </div>
                  <a
                    class="dropdown-item pointer text-success"
                    *ngIf="item.status === 'pending'"
                    (click)="openConfirmModal(item.id, 'approve', searchParams)"
                    ><i class="cil-task mr-3"></i>
                    {{ 'DAY_OFF_REQUEST_PAGE.APPROVE' | translate }}
                  </a>
                  <a
                    class="dropdown-item pointer text-warning"
                    (click)="openConfirmModal(item.id, 'deny', searchParams)"
                    *ngIf="item.status === 'pending'"
                    ><i class="fa fa-window-close mr-3"></i>
                    {{ 'DAY_OFF_REQUEST_PAGE.DENY' | translate }}
                  </a>
                  <a
                    class="dropdown-item pointer text-info"
                    (click)="openModalWithComponent(item)"
                    *ngIf="item.status === 'pending' || item.status === 'approved'"
                    ><i class="cil-brush mr-3"></i>
                    {{ 'DEVICE_TABLE.EDIT' | translate }}
                  </a>
                  <a
                    class="dropdown-item pointer text-danger"
                    *ngIf="item.status !== 'DISCARDED'"
                    (click)="openConfirmModal(item.id, 'delete', searchParams)" 
                    ><i class="cil-trash mr-3"></i>
                    {{ 'DAY_OFF_REQUEST_PAGE.DELETE' | translate }}
                  </a>
                </div>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div
        *ngIf="data && data?.dayOffRequest?.data?.length === 0"
        class="alert alert-warning text-center"
        role="alert"
      >
        {{ 'GENERAL_LIST.NO_RESULT' | translate }}
      </div>
      <div class="col-12 pr-0" *ngIf="data.dayOffRequest.meta?.totalCount !== 0">
        <pagination
          [totalItems]="data.dayOffRequest.meta?.totalCount"
          [maxSize]="3"
          [itemsPerPage]="id ? 5 : 10"
          [(ngModel)]="currentPage"
          (pageChanged)="onPageChanged($event.page)"
          class="pagination-md justify-content-end"
          previousText="&lsaquo;"
          nextText="&rsaquo;"
          firstText="&laquo;"
          lastText="&raquo;"
          [boundaryLinks]="true"
          [rotate]="true"
        >
        </pagination>
      </div>
    </div>
  </div>
</div>
