<div [ngClass]="id ? 'card-emp' : 'card'">
  <div class="card-body">
    <div class="row search">
      <div class="col-3">
        <div class="example-block emp-style">
          <div class="example-block__item">
              <ngx-select [allowClear]="true"
                          [items]="employeeObs"
                          [noResultsFound]="'DAY_OFF_CATEGORIES_PAGE.NO_RESULT' | translate"
                          placeholder="{{ 'DAY_OFF_CATEGORIES_PAGE.ENTER_EMP' | translate }}"
                          (selectionChanges)="doSelectOptions($event)">
              </ngx-select>
          </div>
        </div>
      </div>
      <div class="col-3" *ngIf="types$ | async as types">
        <div class="form-group">
          <label class="d-inline-block mr-3 ml-2" for="day-off-type">
            {{ 'SIDEBAR.LINK_6' | translate }}
          </label>
          <select
            [formControl]="selectedType"
            class="form-control d-inline-block"
            style="width: auto"
            id="day-off-type"
          >
            <option value="">
              {{ 'GENERAL_LIST.ALL' | translate }}
            </option>
            <option *ngFor="let item of types" [value]="item.id">
              {{ item.name | titlecase }}
            </option>
          </select>
        </div>
      </div>
      <div class="col-3">
        <div class="form-group">
          <label class="d-inline-block mr-3 ml-2" for="from-date">
            {{ 'REQUEST_DAY_OFF.FROM_DATE' | translate }}
          </label>
          <input
            type="date"
            class="form-control w-auto d-inline-block"
            [max]="validFromDate"
            id="from-date"
            [formControl]="selectedFromDate"
          />
        </div>
      </div>
      <div class="col-3">
        <div class="form-group">
          <label class="d-inline-block mr-3 ml-2" for="to-date">
            {{ 'REQUEST_DAY_OFF.TO_DATE' | translate }}
          </label>
          <input
            type="date"
            class="form-control w-auto d-inline-block"
            [min]="validToDate"
            id="to-date"
            [formControl]="selectedToDate"
          />
        </div>
      </div>
    </div>
    <div class="table-responsive" *ngIf="data$ | async as data">
      <table *ngIf="data.dayOffRequest?.data?.length > 0" [ngClass]="id ? 'table table-emp' : 'table table-bordered table-striped'">
        <thead>
          <tr>
            <th scope="col" class="col-email">
              {{ 'DAY_OFF_CATEGORIES_PAGE.NAME' | translate }}
            </th>
            <th scope="col" class="col-email">
              {{ 'LOGIN.EMAIL' | translate }}
            </th>
            <th scope="col" class="col-name">
              {{ 'REQUEST_DAY_OFF.FROM_DATE' | translate }}
            </th>
            <th scope="col">
              {{ 'REQUEST_DAY_OFF.TO_DATE' | translate }}
            </th>
            <th scope="col" class="col-hour text-right">
              {{ 'REQUEST_DAY_OFF.HOURS_PER_DAY' | translate }}
            </th>
            <th scope="col" class="col-description text-center">
              {{ 'DAY_OFF_CATEGORIES_PAGE.CATEGORY_NAME' | translate }}
            </th>
            <th scope="col" class="col-action text-center">
              {{ 'DAY_OFF_TABLE.ACTION' | translate }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of data.dayOffRequest.data; let i = index">
            <td class="align-middle email-td">
              <a class="link-a" (click)="navigateEmployeeDetail(item.id)">
                {{ item.user.lastName + ' ' + item.user.firstName }}
              </a>
            </td>
            <td class="align-middle email-td">{{ item.user.email }}</td>
            <td class="align-middle">{{ item.fromDate | date: 'dd/MM/yyyy' }}</td>
            <td class="align-middle">{{ item.toDate| date: 'dd/MM/yyyy' }}</td>
            <td class="align-middle text-right">{{ item.hoursPerDay }}</td>
            <td class="align-middle text-center">{{ item.dayOffCategory.name | titlecase }}</td>
            <td class="align-middle">
              <div class="d-flex justify-content-center align-middle">
                <button
                  class="btn btn-outline-primary mr-2"
                  (click)="openModalWithComponent(item)"
                >
                  <span class="cil-brush"></span>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div
        *ngIf="data && data?.dayOffRequest?.data?.length === 0"
        class="alert alert-warning text-center"
        role="alert"
      >
        {{ 'GENERAL_LIST.NO_RESULT' | translate }}
      </div>
      <div class="col-12 pr-0" *ngIf="data.dayOffRequest.meta?.totalCount !== 0">
        <pagination
          [totalItems]="data.dayOffRequest.meta?.totalCount"
          [maxSize]="3"
          [itemsPerPage]="id ? 5 : 10"
          [(ngModel)]="currentPage"
          (pageChanged)="onPageChanged($event.page)"
          class="pagination-md justify-content-end"
          previousText="&lsaquo;"
          nextText="&rsaquo;"
          firstText="&laquo;"
          lastText="&raquo;"
          [boundaryLinks]="true"
          [rotate]="true"
        >
        </pagination>
      </div>
    </div>
  </div>
</div>
