.card {

  .card-header {
    .c-icon {
      transition: .3s transform ease-in-out;
    }

    .collapsed {
      .c-icon {
        transform: rotate(-90deg);
      }
    }
  }

  .table {
    margin: 0px;
  }

  .col-35 {
    width: 35%;
  }

  .pointer {
    cursor: pointer;
  }

  .black-text {
    color: black;
  }
}
