.card {
  .card-header {
    .c-icon {
      transition: 0.3s transform ease-in-out;
    }

    .collapsed {
      .c-icon {
        transform: rotate(-90deg);
      }
    }
  }

  .table {
    margin: 0px;
  }

  .col-35 {
    width: 35%;
  }

  .col-action {
    width: 10%;
  }

  .col-15 {
    width: 15%;
  }

  .pointer {
    cursor: pointer;
  }

  .black-text {
    color: black;
  }
  
  .badge{
    width: 75px;
  }
}

div {
  .col-15 {
    width: 15%;
  }
}
