<div *ngIf="data$ | async as data">
  <div class="row mb-2">
    <div class="col-4">
      <div class="form-group">
        <label class="d-inline-block mr-3 ml-2" for="device-status">
          {{ 'DEVICE_HISTORY.STATUS' | translate }}
        </label>
        <select
          [formControl]="selectedStatus"
          class="form-control w-auto d-inline-block"
          id="device-status"
        >
          <option value="ASSIGNED">
            {{ 'DEVICE_HISTORY.ASSIGNED' | translate }}
          </option>
          <option value="DISCARDED">
            {{ 'DEVICE_HISTORY.DISCARDED' | translate }}
          </option>
          <option value="IN_INVENTORY">
            {{ 'DEVICE_HISTORY.IN_INVENTORY' | translate }}
          </option>
        </select>
      </div>
    </div>
    <div class="col-5">
      <div class="form-group">
        <label class="d-inline-block mr-3 ml-2" for="device-category">
          {{ 'DEVICE_TABLE.TYPE_OF_DEVICE' | translate }}
        </label>
        <select
          [formControl]="selectedCategory"
          class="form-control w-auto d-inline-block"
          id="device-category"
        >
          <option value="">{{ 'DEVICE_TABLE.ALL' | translate }}</option>
          <option *ngFor="let item of data.categories" [value]="item.id">
            {{ item.name }}
          </option>
        </select>
      </div>
    </div>
  </div>
  <div
    class="card mb-3 border-secondary"
    *ngFor="let item of data.devices.data; let i = index"
  >
    <div class="card-header">
      <div class="row">
        <div class="col-2 black-text">
          {{ item.name }}
        </div>
        <div class="col-2 black-text">
          {{ 'DEVICE_TABLE.CATEGORY_NAME' | translate }}
          {{ ' ' + item.categoryName }}
        </div>
        <div class="col-3 black-text">
          {{ 'DEVICE_TABLE.ASSIGNED_TO' | translate }}
          {{ ' ' + getUserName(item.user) }}
        </div>

        <div class="col-5 d-flex justify-content-end">
          <button
            class="btn btn-outline-primary mr-2"
            *ngIf="item.status !== 'IN_INVENTORY'"
          >
            <i class="cil-storage"></i>
          </button>
          <button
            class="btn btn-outline-warning mr-2"
            *ngIf="item.status !== 'DISCARDED'"
          >
            <i class="cil-pen-nib"></i>
          </button>
          <button
            class="btn btn-outline-success mr-2"
            (click)="openAssignModal(item, searchParams)"
          >
            <i class="cil-task"></i>
          </button>
          <button
            class="btn btn-outline-dark mr-2"
            (click)="navigateToDeviceHistory(item.id)"
          >
            <i class="c-icon cil-history"></i>
          </button>
          <button
            class="btn btn-outline-info mr-2"
            (click)="openEditModal(item, searchParams)"
          >
            <span class="cil-brush"></span>
          </button>
          <button class="btn btn-outline-danger mr-2">
            <i class="cil-trash"></i>
          </button>
          <a
            data-toggle="collapse"
            [attr.data-target]="'#collapse' + i"
            [attr.aria-expanded]="false"
            [attr.aria-controls]="'collapse' + i"
            class="ml-2 mt-2 pointer"
            (click)="state[i] = !state[i]"
          >
            <i class="cil-chevron-bottom" *ngIf="!state[i]"></i>
            <i class="cil-chevron-top" *ngIf="state[i]"></i>
          </a>
        </div>
      </div>
    </div>
    <div [id]="'collapse' + i" class="collapse">
      <div class="card-body">
        <table class="table table-bordered">
          <tr>
            <td>{{ 'DEVICE_HISTORY.STATUS' | translate }}</td>
            <td>
              <span
                class="badge rounded-pill badge-success p-2 pr-3 pl-3"
                *ngIf="item.status === 'ASSIGNED'"
                >{{ 'DEVICE_HISTORY.ASSIGNED' | translate }}</span
              >
              <span
                class="badge rounded-pill badge-primary p-2 pr-3 pl-3"
                *ngIf="item.status === 'IN_INVENTORY'"
                >{{ 'DEVICE_HISTORY.IN_INVENTORY' | translate }}</span
              >
              <span
                class="badge rounded-pill badge-danger p-2 pr-3 pl-3"
                *ngIf="item.status === 'DISCARDED'"
                >{{ 'DEVICE_HISTORY.DISCARDED' | translate }}</span
              >
            </td>
          </tr>
          <tr>
            <td>{{ 'DEVICE_TABLE.PRICE' | translate }}</td>
            <td>{{ item.price | currency: 'VND' }}</td>
          </tr>
          <tr>
            <td>{{ 'DEVICE_TABLE.DESCRIPTION' | translate }}</td>
            <td>{{ item.description }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="mt-2 mb-2">
    <div>
      <div class="col-12" *ngIf="data.devices.pagination.totalCount !== 0">
        <pagination
          [totalItems]="data.devices.pagination.totalCount"
          [maxSize]="3"
          [itemsPerPage]="5"
          [(ngModel)]="currentPage"
          (pageChanged)="onPageChanged($event.page)"
          class="pagination-md justify-content-end"
          previousText="&lsaquo;"
          nextText="&rsaquo;"
          firstText="&laquo;"
          lastText="&raquo;"
          [boundaryLinks]="true"
          [rotate]="true"
        >
        </pagination>
      </div>
    </div>
    <div>
      <div
        *ngIf="data.devices.pagination.totalCount === 0"
        class="alert alert-secondary"
        role="alert"
      >
        {{ 'GENERAL_LIST.NO_RESULT' | translate }}
      </div>
    </div>
    <div class="d-flex justify-content-end">
      <button
        type="button"
        class="btn btn-info"
        (click)="openEditModal(null, searchParams)"
      >
        <span class="cil-playlist-add btn-icon mr-2"></span>
        {{ 'DEVICE_TABLE.CREATE_DEVICE' | translate }}
      </button>
    </div>
  </div>
</div>
