<div *ngIf="data$ | async as data">
  <div class="row mb-2">
    <div class="col-4">
      <div class="form-group">
        <label class="d-inline-block mr-3 ml-2" for="device-status">
          {{ 'DEVICE_HISTORY.STATUS' | translate }}
        </label>
        <select
          [formControl]="selectedStatus"
          class="form-control w-auto d-inline-block"
          id="device-status"
        >
          <option value="ASSIGNED">
            {{ 'DEVICE_HISTORY.ASSIGNED' | translate }}
          </option>
          <option value="DISCARDED">
            {{ 'DEVICE_HISTORY.DISCARDED' | translate }}
          </option>
          <option value="IN_INVENTORY">
            {{ 'DEVICE_HISTORY.IN_INVENTORY' | translate }}
          </option>
        </select>
      </div>
    </div>
    <div class="col-5">
      <div class="form-group">
        <label class="d-inline-block mr-3 ml-2" for="device-category">
          {{ 'DEVICE_TABLE.TYPE_OF_DEVICE' | translate }}
        </label>
        <select
          [formControl]="selectedCategory"
          class="form-control w-auto d-inline-block"
          id="device-category"
        >
          <option value="">{{ 'DEVICE_TABLE.ALL' | translate }}</option>
          <option *ngFor="let item of data.categories" [value]="item.id">
            {{ item.name }}
          </option>
        </select>
      </div>
    </div>
  </div>
  <div
    class="card mb-3 border-secondary"
    *ngFor="let item of data.devices.data; let i = index"
  >
    <div class="card-header">
      <div class="row">
        <div class="col-4 black-text">
          {{ item.name }}
        </div>
        <div class="col-3 black-text">
          {{ 'DEVICE_TABLE.CATEGORY_NAME' | translate }}
          {{ ' ' + item.categoryName }}
        </div>
        <div class="col-3 black-text">
          {{ 'DEVICE_TABLE.ASSIGNED_TO' | translate }}
          {{ ' ' + getUserName(item.user) }}
        </div>

        <div class="col-2 d-flex justify-content-end">
          <div class="dropleft mt-2 mb-2 mr-1">
            <a
              [id]="'dropdownBtn' + i"
              data-toggle="dropdown"
              role="button"
              class="pointer"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i class="c-icon cil-options"></i>
            </a>
            <div
              [attr.aria-labelledby]="'dropdownBtn' + i"
              class="dropdown-menu pt-0 pb-0"
            >
              <div class="dropdown-header bg-light py-2">
                <strong>{{ 'GENERAL_LIST.ACTIONS' | translate }}</strong>
              </div>
              <a
                class="dropdown-item pointer text-primary"
                *ngIf="item.status !== 'IN_INVENTORY'"
                (click)="openConfirmModal(item.id, 'inventory', searchParams)"
                ><i class="cil-storage mr-3"></i>
                {{ 'DEVICE_TABLE.MOVE_TO_INVENTORY' | translate }}
              </a>
              <a
                class="dropdown-item pointer text-warning"
                *ngIf="item.status !== 'IN_INVENTORY'"
                (click)="openConfirmModal(item.id, 'discard', searchParams)"
                ><i class="cil-pen-nib mr-3"></i>
                {{ 'DEVICE_TABLE.DISCARD' | translate }}
              </a>
              <a
                class="dropdown-item pointer text-success"
                (click)="openAssignModal(item, searchParams)"
                ><i class="cil-task mr-3"></i>
                {{ 'DEVICE_TABLE.ASSIGN' | translate }}
              </a>
              <a
                class="dropdown-item pointer"
                (click)="navigateToDeviceHistory(item.id)"
                ><i class="cil-history mr-3"></i>
                {{ 'DEVICE_TABLE.HISTORY' | translate }}
              </a>
              <a
                class="dropdown-item pointer text-info"
                (click)="openEditModal(item, searchParams)"
                ><i class="cil-brush mr-3"></i>
                {{ 'DEVICE_TABLE.EDIT' | translate }}
              </a>
              <a
                class="dropdown-item pointer text-danger"
                *ngIf="item.status !== 'IN_INVENTORY'"
                (click)="openConfirmModal(item.id, 'delete', searchParams)"
                ><i class="cil-trash mr-3"></i
                >{{ 'DEVICE_TABLE.DELETE' | translate }}
              </a>
            </div>
          </div>
          <a
            data-toggle="collapse"
            [attr.data-target]="'#collapse' + i"
            [attr.aria-controls]="'collapse' + i"
            class="ml-2 mt-2 pointer collapsed"
          >
            <i class="c-icon cil-chevron-bottom"></i>
          </a>
        </div>
      </div>
    </div>
    <div [id]="'collapse' + i" class="collapse">
      <div class="card-body">
        <table class="table table-bordered">
          <tr>
            <td class="col-35">{{ 'DEVICE_HISTORY.STATUS' | translate }}</td>
            <td>
              <span
                class="badge rounded-pill badge-success p-2 pr-3 pl-3"
                *ngIf="item.status === 'ASSIGNED'"
                >{{ 'DEVICE_HISTORY.ASSIGNED' | translate }}</span
              >
              <span
                class="badge rounded-pill badge-primary p-2 pr-3 pl-3"
                *ngIf="item.status === 'IN_INVENTORY'"
                >{{ 'DEVICE_HISTORY.IN_INVENTORY' | translate }}</span
              >
              <span
                class="badge rounded-pill badge-danger p-2 pr-3 pl-3"
                *ngIf="item.status === 'DISCARDED'"
                >{{ 'DEVICE_HISTORY.DISCARDED' | translate }}</span
              >
            </td>
          </tr>
          <tr>
            <td class="w-40">{{ 'DEVICE_TABLE.PRICE' | translate }}</td>
            <td class="w-60">{{ item.price | currency: 'VND' }}</td>
          </tr>
          <tr>
            <td class="w-40">{{ 'DEVICE_TABLE.DESCRIPTION' | translate }}</td>
            <td class="w-60">{{ item.description }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="mt-2 mb-2">
    <div>
      <div class="col-12" *ngIf="data.devices.pagination.totalCount !== 0">
        <pagination
          [totalItems]="data.devices.pagination.totalCount"
          [maxSize]="3"
          [itemsPerPage]="5"
          [(ngModel)]="currentPage"
          (pageChanged)="onPageChanged($event.page)"
          class="pagination-md justify-content-end"
          previousText="&lsaquo;"
          nextText="&rsaquo;"
          firstText="&laquo;"
          lastText="&raquo;"
          [boundaryLinks]="true"
          [rotate]="true"
        >
        </pagination>
      </div>
    </div>
    <div>
      <div
        *ngIf="data.devices.pagination.totalCount === 0"
        class="alert alert-secondary"
        role="alert"
      >
        {{ 'GENERAL_LIST.NO_RESULT' | translate }}
      </div>
    </div>
    <div class="d-flex justify-content-end">
      <button
        type="button"
        class="btn btn-info"
        (click)="openEditModal(null, searchParams)"
      >
        <span class="cil-playlist-add btn-icon mr-2"></span>
        {{ 'DEVICE_TABLE.CREATE_DEVICE' | translate }}
      </button>
    </div>
  </div>
</div>
