<div class="card">
  <div class="card-body">
      <div class="main-container row">
        <tabset class="tabset-style">
          <tab heading="{{ 'EMPLOYEE_DETAIL.EMPLOYEE_INFO' | translate }}">
            <div class="row-1">
              <div class="card">
                <div class="card-body">
                  <div class="mt-2 mb-2 mr-4 text-right">
                    <button
                      type="button"
                      class="btn btn-info"
                      (click)="navigateEdit()"
                    >
                      <span class="cil-brush"></span>
                      {{ 'DEVICE_TABLE.EDIT' | translate }}
                    </button>
                  </div>
                  <div class="row">
                    <div class="col-lg-6 col-md-12 left-tab">
                      <b class="mr-2 ml-2">{{ 'EMPLOYEE_DETAIL.EMPLOYEE_INFO' | translate }}</b>
                        <div class="info padd row">
                          <table class="table">
                            <thead class="thead-style">
                              <tr>
                                <th scope="col" class="td-cate">{{ 'EMPLOYEE_DETAIL.TITLE_EMP' | translate }}</th>
                                <th scope="col">{{ 'EMPLOYEE_DETAIL.CONTENT' | translate }}</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row" class="border-style">{{ 'PROFILE_CREATE.FIRST_NAME' | translate }}</th>
                                <td class="border-style">
                                  {{ employee?.firstName }}
                                </td>
                              </tr>
                              <tr>
                                <th scope="row">{{ 'PROFILE_CREATE.LAST_NAME' | translate }}</th>
                                <td>
                                  {{ employee?.lastName }}
                                </td>
                              </tr>
                              <tr>
                                <th scope="row">{{ 'LOGIN.EMAIL' | translate }}</th>
                                <td colspan="3">
                                  {{ employee?.email }}
                                </td>
                              </tr><tr>
                                <th scope="row">{{ 'GENERAL_LIST.BIRTHDAY' | translate }}</th>
                                <td colspan="3">
                                  {{ employee?.birthdate }}
                                </td>
                              </tr>
                              <tr>
                              <th scope="row">{{ 'GENERAL_LIST.PHONE_NUMBER' | translate }}</th>
                                <td>
                                  {{ employee?.phoneNumber }}
                                </td>
                              </tr>
                              <tr>
                                <th scope="row">{{ 'GENERAL_LIST.JOIN_DATE' | translate }}</th>
                                <td>
                                  {{ employee?.joinDate }}
                                </td>
                              </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="col-6">
                      <b class="ml-2">{{ 'EMPLOYEE_DETAIL.DEVICE' | translate }}</b>
                      <div class="infor" *ngIf="device$ | async as data">
                        <table class="table" *ngIf="data.devices.data?.length > 0">
                          <thead class="thead-style">
                            <tr>
                              <th scope="col" class="td-cate">{{ 'DEVICE_EDIT.DEVICE_NAME' | translate }}</th>
                              <th scope="col" class="td-hour">{{ 'DEVICE_TABLE.CATEGORY_NAME' | translate }}</th>
                              <th scope="col" class="text-right td-hour">{{ 'DEVICE_TABLE.PRICE' | translate }}</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of data.devices.data; let i = index">
                              <td>{{ item.name }}</td>
                              <td>{{ item.categoryName }}</td>
                              <td class="text-right">{{ item.price | currency: 'VND' }}</td>
                            </tr>
                          </tbody>
                        </table>
                        <div
                          *ngIf="data.devices.data?.length === 0"
                          class="alert alert-warning text-center"
                          role="alert">
                          {{ 'EMPLOYEE_DETAIL.NO_RESULT' | translate }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </tab>
          <tab heading="{{ 'PROFILE_CREATE.DAY_OFF_INFO' | translate }}">
              <div class="card">
                <form [formGroup]="dayOffForm" class="row">
                  <div class="card-body col-lg-6 col-md-12">
                    <b class="ml-2">{{ 'PROFILE_CREATE.DAY_OFF_INFO' | translate }}</b>
                    <div class="mt-2 mb-2 mr-2 text-right">
                      <button
                        type="button"
                        class="btn btn-info"
                        (click)="navigateEdit(true)"
                      >
                        <span class="cil-brush"></span>
                        {{ 'DEVICE_TABLE.EDIT' | translate }}
                      </button>
                    </div>
                    <div class="infor">
                      <table class="table" *ngIf="dayOffInfos.controls.length > 0">
                        <thead class="thead-style">
                          <tr>
                            <th scope="col" class="td-cate">{{ 'PROFILE_CREATE.DAY_OFF_CATE' | translate }}</th>
                            <th scope="col" class="text-right td-hour">{{ 'PROFILE_CREATE.HOUR' | translate }}</th>
                            <th scope="col" class="text-right td-hour">{{ 'PROFILE_CREATE.AVAILABLE_HOURS' | translate }}</th>
                          </tr>
                        </thead>
                        <tbody formArrayName="dayOffInfos">
                          <tr *ngFor="let item of dayOffInfos.controls; let i = index" [formGroupName]="i">
                            <td class="font-weight-bold td-cate">{{ dayOffInfos.at(i).get('categoryName').value | titlecase }}</td>
                            <td class="td-style text-right">
                              {{ dayOffInfos.at(i).get('hours').value }}
                            </td>
                            <td class="td-style text-right">{{ dayOffInfos.at(i).get('availableHours').value > 0 ? dayOffInfos.at(i).get('availableHours').value : 0 }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div
                      *ngIf="dayOffInfos.controls.length === 0"
                      class="alert alert-warning text-center mt-2 ml-2 mr-2"
                      role="alert">
                      {{ 'DAY_OFF_TABLE.NO_RESULT' | translate }}
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-12 request-dayoff">
                    <div class="infor">
                      <b class="ml-2">{{ 'PROFILE_CREATE.DAY_OFF_REQUEST' | translate }}</b>
                      <div class="mt-2 mb-2 mr-2 text-right">
                        <button
                          type="button"
                          class="btn btn-info auto-width"
                          (click)="openModalWithComponent(null, 'create')"
                        >
                          <i class="fa fa-calendar-plus-o"></i>
                          {{ 'DAY_OFF_TABLE.SUBMIT_TIME_OFF' | translate }}
                        </button>
                      </div>
                      <ah-dayoff-request-list></ah-dayoff-request-list>
                    </div>
                  </div>
                </form>
              </div>
            </tab>
          </tabset>
        </div>
  </div>
</div>
