<form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
<div class="text-right">
  <button type="button" class="btn btn-info mb-3" (click)="navigateEdit()">
    <span class="cil-brush mr-1"></span>
    {{ 'EMPLOYEE_EDIT.TITLE' | translate }}
  </button>
</div>
<div class="main-container">
    <div class="row-1">
      <div class="card">
        <div class="card-body">
          <b class="mr-2">Employee Information</b>
          <span
            class="badge rounded-pill badge-danger p-2"
            *ngIf="employee?.status !== 'ACTIVE'"
            >{{ 'GENERAL_LIST.FORMER' | translate }}
          </span>
          <span
            class="badge rounded-pill badge-success p-2"
            *ngIf="employee?.status === 'ACTIVE'"
            >{{ 'GENERAL_LIST.ACTIVE' | translate }}
          </span>
          <div class="info">
            <table class="table table-bordered emp tab">
              <tbody>
                <tr>
                  <th scope="row">{{ 'PROFILE_CREATE.FIRST_NAME' | translate }}</th>
                  <td> 
                    <input
                    type="text"
                    class="form-control"
                    formControlName="firstName"
                    required
                  />
                  <div
                  *ngIf="f.firstName.invalid && (f.firstName.dirty || f.firstName.touched)"
                  class="mess-invalid"
                >
                  <div *ngIf="f.firstName.errors.required">
                    {{ 'PROFILE_CREATE.FIRST_NAME_INVALID' | translate }}
                  </div>
                  <div *ngIf="f.firstName.errors.minlength">
                    {{ 'PROFILE_CREATE.FIRST_NAME_MIN_LENGTH' | translate }}
                  </div>
                  <div *ngIf="f.firstName.errors.maxlength">
                    {{ 'PROFILE_CREATE.FIRST_NAME_MAX_LENGTH' | translate }}
                  </div>
                </div>
                  </td>
                 
                </tr>
                <tr>
                  <th scope="row">{{ 'PROFILE_CREATE.LAST_NAME' | translate }}</th>
                  <td>
                    <input
                    type="text"
                    class="form-control"
                    formControlName="lastName"
                    required
                    />
                    <div
                    *ngIf="f.lastName.invalid && (f.lastName.dirty || f.lastName.touched)"
                    class="mess-invalid"
                  >
                    <div *ngIf="f.lastName.errors.required">
                      {{ 'PROFILE_CREATE.LAST_NAME_INVALID' | translate }}
                    </div>
                    <div *ngIf="f.lastName.errors.minlength">
                      {{ 'PROFILE_CREATE.LAST_NAME_MIN_LENGTH' | translate }}
                    </div>
                    <div *ngIf="f.lastName.errors.maxlength">
                      {{ 'PROFILE_CREATE.LAST_NAME_MAX_LENGTH' | translate }}
                    </div>
                  </div>
                  </td>
                </tr>
                <tr>
                  <th scope="row">{{ 'LOGIN.EMAIL' | translate }}</th>
                  <td colspan="3">
                    <input
                    type="text"
                    class="form-control"
                    formControlName="email"
                    required
                    />
                    <div
                    *ngIf="f.email.invalid && (f.email.dirty || f.email.touched)"
                    class="mess-invalid"
                  >
                    <div *ngIf="f.email.errors.required">
                      {{ 'PROFILE_CREATE.EMAIL_INVALID' | translate }}
                    </div>
                    <div *ngIf="f.email.errors.email">
                      {{ 'PROFILE_CREATE.IS_EMAIL' | translate }}
                    </div>
                  </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <table class="table table-bordered emp">
              <tbody>
                <tr>
                  <th scope="row">{{ 'GENERAL_LIST.BIRTHDAY' | translate }}</th>
                  <td colspan="3">
                    <input
                    type="date"
                    class="form-control"
                    [max]="getToday()"
                    formControlName="birthdate"
                    required
                  />
                  <div
                    *ngIf="f.birthdate.invalid && (f.birthdate.dirty || f.birthdate.touched)"
                    class="mess-invalid"
                    >
                    <div *ngIf="f.birthdate.errors.required">
                      {{ 'PROFILE_CREATE.BIRTHDAY_INVALID' | translate }}
                    </div>
                  </div>
                </td>
                </tr>
                <tr>
                  <th scope="row">{{ 'GENERAL_LIST.PHONE_NUMBER' | translate }}</th>
                  <td>
                    <input
                    type="text"
                    class="form-control"
                    formControlName="phoneNumber"
                    required
                    />
                    <div
                    *ngIf="f.phoneNumber.invalid && (f.phoneNumber.dirty || f.phoneNumber.touched)"
                    class="mess-invalid"
                  >
                  {{ getPhoneErrorMessage() }}
                  </div>
                  </td>
                </tr>
                <tr>
                  <th scope="row">{{ 'GENERAL_LIST.JOIN_DATE' | translate }}</th>
                  <td>
                    <input
                    type="date"
                    class="form-control"
                    formControlName="joinDate"
                    required
                    />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="abc">
      <div class="card">
        <form [formGroup]="dayOffForm">
        <div class="card-body">
        <b class="ml-2">{{ 'PROFILE_CREATE.DAY_OFF_INFO' | translate }}</b>
        <div class="infor">
        <table class="table table-bordered">
          <thead class="thead-style">
            <tr>
              <th scope="col">{{ 'GENERAL_LIST.NAME' | translate }}</th>
              <th scope="col">{{ 'PROFILE_CREATE.HOUR' | translate }}</th>
              <th scope="col">{{ 'PROFILE_CREATE.AVAILABLE_HOURS' | translate }}</th>
            </tr>
          </thead>
          <tbody formArrayName="dayOffInfos"
          *ngFor="let item of dayOffInfos.controls; let i = index">
            <tr [formGroupName]="i">
              <td>{{ dayOffInfos.at(i).get('categoryName').value | titlecase }}</td>
              <td>
                <input
                class="text-right"
                type="number"
                class="form-control day"
                formControlName="hours"
                required
                />
              </td>
              <td>{{ dayOffInfos.at(i).get('availableHours').value }}</td>
            </tr>
          </tbody>
        </table>
        </div>
      </div>
    </form>
    </div>
      <div class="card">
        <div class="card-body">
        <b class="ml-2">{{ 'EMPLOYEE_DETAIL.DEVICE' | translate }}</b>
        <div class="infor">
        <table class="table table-bordered" *ngIf="device$ | async as data">
          <thead class="thead-style">
            <tr>
              <th scope="col">{{ 'GENERAL_LIST.NAME' | translate }}</th>
              <th scope="col" class="text-right">{{ 'DEVICE_TABLE.PRICE' | translate }}</th>
              <th scope="col">{{ 'DEVICE_TABLE.CATEGORY_NAME' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of data.devices.data; let i = index">
              <td>{{ item.name }}</td>
              <td class="text-right">{{ item.price | currency: 'VND' }}</td>
              <td>{{ item.categoryName }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      </div>
    </div>
    </div>
</div>
</form>