<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-4">
        <div class="form-group">
          <label class="d-inline-block mr-3 ml-2" for="status-type">
            {{ 'GENERAL_LIST.STATUS' | translate }}
          </label>
          <select
            class="form-control w-auto d-inline-block"
            id="status-type"
            [formControl]="searchStatusFormControl"
          >
            <option selected value="">
              {{ 'GENERAL_LIST.ALL' | translate }}
            </option>
            <option value="DISCARDED">
              {{ 'DEVICE_HISTORY.DISCARDED' | translate }}
            </option>
            <option value="IN_INVENTORY">
              {{ 'DEVICE_HISTORY.IN_INVENTORY' | translate }}
            </option>
            <option value="ASSIGNED">
              {{ 'DEVICE_HISTORY.ASSIGNED' | translate }}
            </option>
          </select>
        </div>
      </div>
      <div class="col-4">
        <div class="form-group">
          <label class="d-inline-block mr-3 ml-2" for="from-date">
            {{ 'REQUEST_DAY_OFF.FROM_DATE' | translate }}
          </label>
          <input
            type="date"
            class="form-control w-auto d-inline-block"
            [max]="validFromDate"
            id="from-date"
            [formControl]="selectedFromDate"
          />
        </div>
      </div>
      <div class="col-4">
        <div class="form-group">
          <label class="d-inline-block mr-3 ml-2" for="to-date">
            {{ 'REQUEST_DAY_OFF.TO_DATE' | translate }}
          </label>
          <input
            type="date"
            class="form-control w-auto d-inline-block"
            [min]="validToDate"
            id="to-date"
            [formControl]="selectedToDate"
          />
        </div>
      </div>
      <div class="table-responsive p-2" *ngIf="data$ | async as data">
        <div
          *ngIf="data?.data.length !== 0"
          class="alert alert-success"
          role="alert"
        >
          {{ 'DEVICE_HISTORY.DEVICE_NAME' | translate }}:
          {{ data.data[0].device.name }}
        </div>
        <div
          *ngIf="data?.data.length === 0"
          class="alert alert-secondary"
          role="alert"
        >
          {{ 'GENERAL_LIST.NO_RESULT' | translate }}
        </div>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col" class="w-25">
                {{ 'REQUEST_DAY_OFF.FROM_DATE' | translate }}
              </th>
              <th scope="col" class="w-25">
                {{ 'REQUEST_DAY_OFF.TO_DATE' | translate }}
              </th>
              <th scope="col" class="w-25 text-center">
                {{ 'GENERAL_LIST.STATUS' | translate }}
              </th>
              <th scope="col" class="w-25">
                {{ 'DEVICE_HISTORY.FULL_NAME' | translate }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let item of data.data; let i = index"
              (click)="openModalWithComponent(item.id)"
              class="pointer"
            >
              <td class="align-middle">{{ item.fromDate | date: 'dd/MM/yyyy' }}</td>
              <td class="align-middle">{{ getToDate(item.toDate) }}</td>
              <td class="text-center align-center">
                <span
                  class="badge rounded-pill badge-danger p-2"
                  *ngIf="item?.status === 'discarded'"
                  >{{ 'DEVICE_HISTORY.DISCARDED' | translate }}
                </span>
                <span
                  class="badge rounded-pill badge-info p-2"
                  *ngIf="item?.status === 'in_inventory'"
                >
                  {{ 'DEVICE_HISTORY.IN_INVENTORY' | translate }}
                </span>
                <span
                  class="badge rounded-pill badge-success p-2"
                  *ngIf="item?.status === 'assigned'"
                >
                  {{ 'DEVICE_HISTORY.ASSIGNED' | translate }}
                </span>
              </td>
              <td class="align-middle">{{ getUserName(item.user) }}</td>
            </tr>
          </tbody>
        </table>
        <div class="col-12 pr-0" *ngIf="data.pagination.totalCount !== 0">
          <pagination
            [totalItems]="data.pagination.totalCount"
            [maxSize]="3"
            [itemsPerPage]="10"
            [(ngModel)]="currentPage"
            (pageChanged)="onPageChanged($event.page)"
            class="pagination-md justify-content-end"
            previousText="&lsaquo;"
            nextText="&rsaquo;"
            firstText="&laquo;"
            lastText="&raquo;"
            [boundaryLinks]="true"
            [rotate]="true"
          >
          </pagination>
        </div>
      </div>
    </div>
  </div>
</div>
