.card{
  .table-responsive{
    .device-name{
      cursor: pointer;
      text-decoration: underline;
      color:blue;
    }
    .badge{
      width: 75px;
    }
    .pointer {
      cursor: pointer;
    }
 }
}
