<form [formGroup]="f" (ngSubmit)="onSubmit()">
  <div class="modal-header">
    <h4 *ngIf="type === 'create'" class="modal-title pull-left">
      {{ 'DAY_OFF_CATEGORIES_PAGE.CREATE_TITLE' | translate }}
    </h4>
    <h4 *ngIf="type === 'edit'" class="modal-title pull-left">
      {{ 'DAY_OFF_CATEGORIES_PAGE.EDIT_TITLE' | translate }}
    </h4>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="bsModalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <hr class="mt-0 mb-0" />
  <div class="modal-body pb-0">
    <div class="form-group col-md-12">
      <label class="font-weight-bold" for="name">
        {{ 'DAY_OFF_CATEGORIES_PAGE.NAME' | translate }}
      </label>
      <input
        type="text"
        class="form-control"
        id="name"
        formControlName="name"
        inputFormatter
      />
      <div
        *ngIf="(f.get('name').invalid || f.value.name.trim().length < 2 || f.value.name.trim().leng > 20) && f.get('name').touched"
        class="mess-invalid"
      >
        <div *ngIf="f.value.name.trim().length===0">
          {{ 'DAY_OFF_CATEGORIES_PAGE.NAME_REQUIRED' | translate }}
        </div>
        <div *ngIf="f.value.name.trim().length===1">
          {{ 'DAY_OFF_CATEGORIES_PAGE.NAME_MINLENGTH' | translate }}
        </div>
        <div *ngIf="f.value.name.trim().length>20">
          {{ 'DAY_OFF_CATEGORIES_PAGE.NAME_MAXLENGTH' | translate }}
        </div>
        <div *ngIf="f.value.name.trim().length<20 && f.value.name.trim().length>1">
          {{ getNameErrorMessage() }}
        </div>
      </div>
    </div>
    <div class="form-group col-md-12">
      <label class="font-weight-bold" for="days">
        {{ 'DAY_OFF_CATEGORIES_PAGE.DAY_OFF' | translate }}
      </label>
      <input
        type="number"
        class="form-control"
        id="days"
        formControlName="days"
      />
      <div
        *ngIf="f.get('days').invalid && f.get('days').touched"
        class="mess-invalid"
      >
        <div *ngIf="f.get('days').errors.required">
          {{ 'DAY_OFF_CATEGORIES_PAGE.DAYS_REQUIRED' | translate }}
        </div>
        <div *ngIf="f.get('days').errors.min">
          {{ 'DAY_OFF_CATEGORIES_PAGE.DAYS_MIN' | translate }}
        </div>
      </div>
    </div>
    <label class="font-weight-bold ml-3" for="name" *ngIf="type === 'create'">
      {{ 'DAY_OFF_CATEGORIES_PAGE.APPLY_EMP' | translate }}
    </label>
    <div class="form-group col-md-12 radio-st" *ngIf="type === 'create'">
      <div class="form-check form-check-inline">
        <label class="form-check-label mr-2" for="inlineRadio1">{{ 'DAY_OFF_CATEGORIES_PAGE.ALL_EMPLOYEES' | translate }}</label>
        <input
          class="form-check-input"
          type="radio"
          id="inlineRadio1"
          formControlName="applyForAllEmployees"
          value="true">
      </div>
      <div class="form-check form-check-inline">
        <label class="form-check-label mr-2" for="inlineRadio2">{{ 'DAY_OFF_CATEGORIES_PAGE.CHOOSE_EMPLOYEE' | translate }}</label>
        <input
          class="form-check-input"
          type="radio"
          formControlName="applyForAllEmployees"
          (change)="changeOption()"
          id="inlineRadio2"
          value="false">
      </div>
      <div class="form-check form-check-inline">
        <label class="form-check-label mr-2" for="inlineRadio2">{{ 'DAY_OFF_CATEGORIES_PAGE.UNCHOOSE' | translate }}</label>
        <input
          class="form-check-input"
          type="radio"
          formControlName="applyForAllEmployees"
          id="inlineRadio3"
          value=""
          checked>
      </div>
    </div>
    <div class="form-group col-md-12 emp-style" *ngIf="f.get('applyForAllEmployees').value === 'false'">
      <div class="row mb-4">
        <div class="col-7">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="cil-search"></i>
              </div>
            </div>
            <input
              type="search"
              class="form-control sticky-top"
              id="inlineFormInputGroupUsername"
              [formControl]="searchFormControl"
              placeholder="{{ 'GENERAL_LIST.PLACEHOLDER' | translate }}"
              (blur)="onSearchSubmit()"
              (search)="onSearchSubmit()"
            />
          </div>
        </div>
      </div>
      <div class="table-responsive" *ngIf="employeeObs$ | async as employeeObs">
        <table class="table table-striped">
          <thead class="thead-inverse">
            <tr>
              <th
                scope="col"
                class="pointer"
                (click)="onSort(employeeObs.pagination.currentPage, 'name')"
              >
                {{ 'GENERAL_LIST.NAME' | translate }}
                <i class="cil-arrow-top" *ngIf="sortNameType === 1"></i>
                <i class="cil-arrow-bottom" *ngIf="sortNameType === 2"></i>
              </th>
              <th
                scope="col"
                class="pointer"
                (click)="onSort(employeeObs.pagination.currentPage, 'birthdate')"
              >
                {{ 'GENERAL_LIST.BIRTHDAY' | translate }}
                <i class="cil-arrow-top" *ngIf="sortBirthDateType === 1"></i>
                <i class="cil-arrow-bottom" *ngIf="sortBirthDateType === 2"></i>
              </th>
              <th scope="col" class="text-center">
                {{ 'DAY_OFF_TABLE.ACTION' | translate }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of employeeObs.employees; let i = index">
              <td>{{ item.firstName + ' ' + item.lastName }}</td>
              <td>{{ item.birthdate | date: 'dd/MM/yyyy' }}</td>
              <td class="text-center">
                <input
                  type="checkbox"
                  class="pointer"
                  (change)="changeApplyEmp($event, item.id)"
                  id="{{ item.id }}"
                  value="{{ item.id }}"
                  [checked] = "arrEmpId.indexOf(+item.id) !== -1"
                />
              </td>
            </tr>
          </tbody>
        </table>
        <div
          *ngIf="employeeObs.employees.length === 0"
          class="alert alert-warning text-center"
          role="alert"
        >
          {{ 'GENERAL_LIST.NO_RESULT' | translate }}
        </div>
        <div class="col-12 pr-0" *ngIf="employeeObs.pagination?.totalCount !== 0">
          <pagination
            [totalItems]="employeeObs.pagination?.totalCount"
            [maxSize]="3"
            [itemsPerPage]="5"
            [(ngModel)]="currentPage"
            [ngModelOptions]="{standalone: true}"
            (pageChanged)="onPageChanged($event.page)"
            class="pagination-md justify-content-end mb-0"
            previousText="&lsaquo;"
            nextText="&rsaquo;"
            firstText="&laquo;"
            lastText="&raquo;"
            [boundaryLinks]="true"
            [rotate]="true"
          >
          </pagination>
        </div>
      </div>
    </div>
    <div class="form-group col-md-12">
      <label class="font-weight-bold" for="description">
        {{ 'DEVICE_TABLE.DESCRIPTION' | translate }}
      </label>
      <textarea
        class="form-control"
        id="description"
        formControlName="description"
        inputFormatter
      ></textarea>
      <div
        *ngIf="f.get('description').invalid && f.get('description').touched"
        class="mess-invalid"
      >
        {{ 'DEVICE_EDIT.DESCRIPTION_MIN_LENGTH' | translate }}
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-secondary"
      aria-label="Close"
      (click)="bsModalRef.hide()"
    >
      {{ 'PROFILE_CREATE.CLOSE' | translate }}
    </button>
    <button [disabled]="checkChange() || f.value.name.trim().length === 0" type="button" class="btn btn-success" (click)="onSubmit()">
      {{ 'PROFILE_CREATE.SAVE' | translate }}
    </button>
  </div>
</form>
