<form [formGroup]="f" (ngSubmit)="onSubmit()">
  <div class="modal-header">
    <h4 *ngIf="type === 'create'" class="modal-title pull-left">
      {{ 'DAY_OFF_CATEGORIES_PAGE.CREATE_TITLE' | translate }}
    </h4>
    <h4 *ngIf="type === 'delete'" class="modal-title pull-left">
      {{ 'DAY_OFF_CATEGORIES_PAGE.DELETE_TITLE' | translate }}
    </h4>
    <h4 *ngIf="type === 'edit'" class="modal-title pull-left">
      {{ 'DAY_OFF_CATEGORIES_PAGE.EDIT_TITLE' | translate }}
    </h4>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="bsModalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <hr class="mt-0 mb-0" />
  <div class="modal-body pb-0">
    <div class="form-group col-md-12" *ngIf="type !== 'delete'">
      <label class="font-weight-bold" for="name">
        {{ 'DAY_OFF_CATEGORIES_PAGE.NAME' | translate }}
      </label>
      <input
        type="text"
        class="form-control"
        id="name"
        formControlName="name"
      />
      <div
        *ngIf="f.get('name').invalid && (f.get('name').dirty || f.get('name').touched)"
        class="mess-invalid"
      >
        <div *ngIf="f.get('name').errors">
          {{ getNameErrorMessage() }}
        </div>
      </div>
    </div>
    <div class="form-group col-md-12" *ngIf="type !== 'delete'">
      <label class="font-weight-bold" for="hours">
        {{ 'DAY_OFF_CATEGORIES_PAGE.HOURS' | translate }}
      </label>
      <input
        type="number"
        class="form-control"
        id="hours"
        formControlName="hours"
      />
      <div
        *ngIf="f.get('hours').invalid &&(f.get('hours').dirty || f.get('hours').touched)"
        class="mess-invalid"
      >
        <div *ngIf="f.get('hours').errors.required">
          {{ 'DAY_OFF_CATEGORIES_PAGE.HOURS_REQUIRED' | translate }}
        </div>
        <div *ngIf="f.get('hours').errors.max">
          {{ 'DAY_OFF_CATEGORIES_PAGE.HOURS_MAX' | translate }}
        </div>
        <div *ngIf="f.get('hours').errors.min">
          {{ 'DAY_OFF_CATEGORIES_PAGE.HOURS_MIN' | translate }}
        </div>
      </div>
    </div>
    <div class="form-group col-md-12" *ngIf="type !== 'delete'">
      <label class="font-weight-bold" for="description">
        {{ 'DEVICE_TABLE.DESCRIPTION' | translate }}
      </label>
      <textarea
        class="form-control"
        id="description"
        formControlName="description"
      ></textarea>
    </div>
    <div class="form-group col-md-12" *ngIf="type === 'delete'">
      <p>
        {{ 'DAY_OFF_CATEGORIES_PAGE.DELETE_CONFIRM' | translate }}
      </p>
    </div>
  </div>
  <div class="modal-footer" *ngIf="type !== 'delete'">
    <button
      type="button"
      class="btn btn-secondary"
      aria-label="Close"
      (click)="bsModalRef.hide()"
    >
      {{ 'PROFILE_CREATE.CLOSE' | translate }}
    </button>
    <button
      [disabled]="checkChange()"
      type="submit"
      class="btn btn-success"
    >
      {{ 'PROFILE_CREATE.SAVE' | translate }}
    </button>
  </div>
  <div class="modal-footer" *ngIf="type === 'delete'">
    <button
      type="button"
      class="btn btn-secondary"
      aria-label="Close"
      (click)="bsModalRef.hide()"
    >
    {{ 'PROFILE_STATUS_CHANGE.ABORT' | translate }}
    </button>
    <button *ngIf="type === 'delete'" type="submit" class="btn btn-danger">
      {{ 'PROFILE_STATUS_CHANGE.ACCEPT' | translate }}
    </button>
  </div>
</form>
