<div class="modal-header">
  <h4 *ngIf="selectedDevice" class="modal-title pull-left">
    {{ 'DEVICE_EDIT.EDIT_TITLE' | translate }}
  </h4>
  <h4 *ngIf="!selectedDevice" class="modal-title pull-left">
    {{ 'DEVICE_EDIT.CREATE_TITLE' | translate }}
  </h4>
  <button
    type="button"
    class="pull-right close"
    aria-label="Close"
    (click)="bsModalRef.hide()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<hr class="mt-0 mb-0" />
<form [formGroup]="deviceForm" (ngSubmit)="onSubmit()">
  <div class="modal-body mb-0 pb-0">
    <div class="row">
      <div class="col-12">
        <div class="form-group ml-2 mr-2">
          <label class="font-weight-bold" for="name">
            {{ 'DEVICE_EDIT.DEVICE_NAME' | translate }}
          </label>
          <input
            type="text"
            id="name"
            class="form-control"
            formControlName="name"
          />
          <div
            *ngIf="f.name.invalid && (f.name.dirty || f.name.touched)"
            class="invalid-message"
          >
            {{ getNameErrorMessage() }}
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="form-group ml-2">
          <label class="font-weight-bold" for="price">
            {{ 'DEVICE_TABLE.PRICE' | translate }}
          </label>
          <input
            type="text"
            id="price"
            class="form-control"
            formControlName="price"
          />
          <div
            *ngIf="f.price.invalid && (f.price.dirty || f.price.touched)"
            class="invalid-message"
          >
            {{ getPriceErrorMessage() }}
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group mr-2">
          <label class="d-inline-block font-weight-bold" for="device-category">
            {{ 'DEVICE_TABLE.TYPE_OF_DEVICE' | translate }}
          </label>
          <select
            formControlName="deviceCategoryId"
            class="form-control d-inline-block"
            id="device-category"
          >
            <option
              *ngFor="let item of categories$ | async; let i = index"
              [value]="item.id"
            >
              {{ item.name }}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 mb-0">
        <div class="form-group ml-2 mr-2">
          <label class="font-weight-bold" for="description">
            {{ 'DEVICE_TABLE.DESCRIPTION' | translate }}
          </label>
          <textarea
            type="text"
            id="description"
            class="form-control"
            rows="3"
            formControlName="description"
          ></textarea>
          <div
            *ngIf="f.description.invalid && (f.description.dirty || f.descriptionp.touched)"
            class="invalid-message"
          >
            {{ 'DEVICE_EDIT.DESCRIPTION_MIN_LENGTH' | translate }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="bsModalRef.hide()">
      {{ 'PROFILE_CREATE.CLOSE' | translate }}
    </button>
    <button
      type="submit"
      class="btn btn-success"
      [disabled]="deviceForm.invalid"
    >
      {{ 'PROFILE_CREATE.SAVE' | translate }}
    </button>
  </div>
</form>
