.modal-open {
  div {
    border: none;
  }

  .spinner-three-bounce {
    position: fixed !important;
  }

  .close {
    &:focus {
      outline: none;
    }
  }
}

body {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;

  main{
    min-height: 80vh;
  }
}

.toast-container {
  .toast-success {
    background-color: #2eb85c !important;
  }
  
  .toast-error {
    background-color: #e55353 !important;
  }
  
  .toast-close-button {
    top: 0
  }
  
  .toast-title{
    margin-top: 5px;
  }
}

.auto-validated{
  .form-control.ng-touched.ng-invalid {
      border-color: #f86c6b;
      padding-right: calc(1.5em + 0.75rem);
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23f86c6b' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23f86c6b' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E");
      background-repeat: no-repeat;
      background-position: center right calc(0.375em + 0.1875rem);
      background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
  }
  .form-control.ng-touched.ng-invalid:focus {
      border-color: #f86c6b;
      box-shadow: 0 0 0 0.2rem rgba(248, 108, 107, 0.25);
  }
  .form-control.ng-invalid ~ .invalid-feedback,
  .form-control.ng-invalid ~ .invalid-tooltip {
      display: block;
  }
}

