.modal-open {
  div {
    border: none;
  }

  .spinner-three-bounce {
    position: fixed !important;
  }
}

body {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;

  main{
    min-height: 80vh;
  }
}

.toast-container {
  .toast-success {
    background-color: #2eb85c !important;
  }
  
  .toast-error {
    background-color: #e55353 !important;
  }
  
  .toast-close-button {
    top: 0
  }
  
  .toast-title{
    margin-top: 5px;
  }
}

