<form [formGroup]="f">
  <div role="document">
    <div>
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">
          {{ 'REQUEST_DAY_OFF.AUTH' | translate }}
        </h4>
        <button
          type="button"
          class="close"
          aria-label="Close"
          (click)="bsModalRef.hide()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <hr class="mt-0 mb-0" />
      <div *ngIf="!editData" class="modal-body pt-1 pb-0">
        <label class="font-weight-bold" for="exampleFormControlInput1">
          {{ 'REQUEST_DAY_OFF.FULL_NAME' | translate }}
        </label>
        <input
          type="text"
          class="form-control"
          id="exampleFormControlInput1"
          formControlName="fullName"
        />
      </div>
      <div class="modal-body date pt-1 pb-0">
        <label class="font-weight-bold" for="exampleFormControlInput2">
          {{ 'REQUEST_DAY_OFF.FROM_DATE' | translate }}
        </label>
        <input
          type="date"
          class="form-control"
          id="exampleFormControlInput2"
          formControlName="fromDate"
          (change)="setDayOffs()"
        />
        <label
          class="font-weight-bold"
          id="label3"
          for="exampleFormControlInput3"
        >
          {{ 'REQUEST_DAY_OFF.TO_DATE' | translate }}
        </label>
        <input
          type="date"
          min="{{ f.get('fromDate').value | date: 'yyyy-MM-dd' }}"
          class="form-control"
          id="exampleFormControlInput3"
          formControlName="toDate"
        />
        <div *ngIf="toDateError" class="mess-invalid">
          {{ 'REQUEST_DAY_OFF.TO_DATE_ERROR' | translate }}
        </div>
      </div>

      <div *ngIf="dayOffs < 2">
        <div class="modal-body break">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="defaultCheck1"
              formControlName="morningBreak"
              checked
            />
            <label class="form-check-label pointer" for="defaultCheck1">
              {{ 'REQUEST_DAY_OFF.MORNING_BREAK' | translate }}
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="defaultCheck2"
              formControlName="afternoonBreak"
            />
            <label class="form-check-label pointer" for="defaultCheck2">
              {{ 'REQUEST_DAY_OFF.AFTERNOON_BREAK' | translate }}
            </label>
          </div>
        </div>
      </div>

      <div class="modal-body pt-1">
        <label
          id="label4"
          class="font-weight-bold"
          for="exampleFormControlSelect1"
        >
          {{ 'REQUEST_DAY_OFF.KIND_OF_LEAVE' | translate }}
        </label>
        <select
          class="form-control pointer"
          id="exampleFormControlSelect1"
          formControlName="kindOfLeave"
        >
          <option
            *ngFor="let item of selectedEmployee?.dayOffInfos"
            [value]="item.categoryName"
            [selected]="item.dayOffCategoryId === this.editData?.dayOffCategory.id"
          >
            {{ item.categoryName | titlecase }}
          </option>
        </select>
      </div>

      <div class="modal-body-custom ml-3 mr-3">
        <div class="alert alert-success" role="alert">
          {{ 'REQUEST_DAY_OFF.DAY_OFF_AVAILABLE' | translate }}:
          {{ dayOffAvailable }}
          {{ dayOffAvailable > 1 ? setDays() : setDay() }}
        </div>
        <div class="alert alert-info" role="alert">
          {{ 'REQUEST_DAY_OFF.DAY_OFF_AFTER' | translate }}:
          {{ dayOffAvailable > dayOffs ? dayOffAvailable - dayOffs : '0' }}
          {{ dayOffAvailable - dayOffs > 1 ? setDays() : setDay() }}
        </div>
        <hr />
      </div>

      <div *ngIf="dayOffAvailable < dayOffs" class="modal-body">
        <div class="form-check">
          <input
            class="form-check-input pointer"
            type="checkbox"
            value=""
            id="defaultCheck3"
            formControlName="unpaidLeave"
          />
          <label class="form-check-label pointer" for="defaultCheck3">
            {{ 'REQUEST_DAY_OFF.UNPAID_LEAVE' | translate }}
            {{ dayOffs - dayOffAvailable }}
            {{ dayOffs - dayOffAvailable > 1 ? setDays() : setDay() }}
          </label>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="bsModalRef.hide()">
          {{ 'PROFILE_CREATE.CLOSE' | translate }}
        </button>
        <button
          [disabled]="dayOffAvailable < dayOffs && !f.get('unpaidLeave').value"
          (click)="onSave()"
          type="button"
          class="btn btn-success"
        >
          {{ 'PROFILE_CREATE.SAVE' | translate }}
        </button>
      </div>
    </div>
  </div>
</form>
