<form [formGroup]="f" (ngSubmit)="onSubmit()">
  <div class="modal-header">
    <h4 *ngIf="type === 'create'" class="modal-title pull-left">
      {{ 'DEVICE_CATEGORIES_PAGE.CREATE_TITLE' | translate }}
    </h4>
    <h4 *ngIf="type === 'delete'" class="modal-title pull-left">
      {{ 'DEVICE_CATEGORIES_PAGE.DELETE_TITLE' | translate }}
    </h4>
    <h4 *ngIf="type === 'edit'" class="modal-title pull-left">
      {{ 'DEVICE_CATEGORIES_PAGE.EDIT_TITLE' | translate }}
    </h4>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="bsModalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <hr class="mt-0 mb-0" />
  <div class="modal-body">
    <div class="form-group col-md-12" *ngIf="type !== 'delete'">
      <label for="exampleFormControlInput1">
        {{ 'DEVICE_CATEGORIES_PAGE.NAME' | translate }}
      </label>
      <input
        type="text"
        class="form-control"
        id="exampleFormControlInput1"
        formControlName="name"
      />
      <div
        *ngIf="f.get('name').invalid && (f.get('name').dirty || f.get('name').touched)"
        class="mess-invalid"
      >
        <div *ngIf="f.get('name').errors.required">
          {{ 'DAY_OFF_CATEGORIES_PAGE.NAME_REQUIRED' | translate }}
        </div>
        <div *ngIf="f.get('name').errors.maxlength">
          {{ 'DEVICE_CATEGORIES_PAGE.NAME_MAXLENGTH' | translate }}
        </div>
      </div>
    </div>
    <div class="form-group col-md-12" *ngIf="type !== 'delete'">
      <label for="exampleFormControlInput3">
        {{ 'DAY_OFF_CATEGORIES_PAGE.DESCRIPTION' | translate }}
      </label>
      <textarea
        class="form-control"
        id="exampleFormControlInput3"
        formControlName="description"
      ></textarea>
    </div>
    <div class="form-group col-md-12" *ngIf="type === 'delete'">
      <p>
        {{ 'DAY_OFF_CATEGORIES_PAGE.DELETE_CONFIRM' | translate }}
      </p>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-secondary"
      aria-label="Close"
      (click)="bsModalRef.hide()"
    >
      {{ 'DAY_OFF_CATEGORIES_PAGE.CANCEL' | translate }}
    </button>
    <button
      *ngIf="type !== 'delete'"
      [disabled]="checkChange()"
      type="submit"
      class="btn btn-success"
    >
      {{ 'DAY_OFF_CATEGORIES_PAGE.SAVE' | translate }}
    </button>
    <button *ngIf="type === 'delete'" type="submit" class="btn btn-success">
      {{ 'DAY_OFF_CATEGORIES_PAGE.DELETE' | translate }}
    </button>
  </div>
</form>
